{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "onboarding_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% blocktrans %}Task "{{ task }}" has been assigned to you - Projectify{% endblocktrans %}
{% endblock title %}
{% block onboarding_content %}
    <div class="flex flex-col gap-4">
        <h1 class="min-w-fit max-w-lg text-4xl font-bold">
            {% blocktrans %}Task "{{task}}" has been assigned to you!{% endblocktrans %}
        </h1>
        <div class="flex flex-col gap-2 text-lg">
            <p>{% trans "You're all set!" %}</p>
            <p>
                {% trans "If you wish to add new team members to your workspace, please go to the workspace settings menu next to your workspace name." %}
            </p>
            {% anchor href="help:topic:billing" label=_("Learn more about workspace billing settings") external=True %}
            {% anchor href="dashboard:workspaces:billing" label=_("Go to workspace billing settings") external=True workspace_uuid=workspace.uuid %}
        </div>
    </div>
    <a href="{% url "dashboard:projects:detail" project.uuid %}"
       class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">{% trans "Get started" %}</a>
    {% include "onboarding/common/step_counter.html" with step=5 step_count="5" %}
{% endblock onboarding_content %}
{% block onboarding_preview %}
    <div class="ring-4 max-w-full flex flex-row ring-border bg-foreground py-2"
         inert>
        <div class="flex flex-col gap-2">
            <div class="mx-4 px-4 flex items-center gap-2 font-bold border rounded p-2">
                {% icon "briefcase" size=4 %}
                <span class="max-w-16 truncate">{{ task.workspace.title }}</span>
            </div>
            <div class="mx-4 flex flex-row items-center justify-start text-utility gap-2">
                {% icon "folder" size=4 %}
                <div class="font-bold mr-auto">{% trans "Projects" %}</div>
                {% icon "chevron-up" size=4 %}
            </div>
            <div class="flex w-full flex-row items-center gap-1 px-4 py-1">
                {% icon "folder" size=4 %}
                <div class="max-w-16 line-clamp-1 min-w-0 font-bold">{{ task.section.project.title }}</div>
            </div>
        </div>
        <div class="min-w-0 shrink flex flex-col px-4">
            <div class="flex flex-row items-center text-base-content min-w-0 gap-4 py-2">
                {% icon "chevron-down" size=4 %}
                <h1 class="line-clamp-1 min-w-0 shrink font-bold">{{ task.section.title }}</h1>
            </div>
            <div class="p-4 rounded-lg border border-border flex flex-col gap-2">
                <div class="flex flex-row items-center gap-1 sm:gap-6">
                    <span class="shrink-0 font-bold">#1</span>
                    <span id="task-title" class="text-ellipsis line-clamp-3">{{ task.title }}</span>
                </div>
                {% if task.labels.first %}
                    <div class="flex flex-row items-center justify-start flex-wrap gap-2">
                        <div id="label-preview"
                             class="truncate rounded-full px-3 py-1 font-bold bg-label-orange text-label-text-orange">
                            {{ task.labels.first.name }}
                        </div>
                        {% user_avatar task.assignee %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock onboarding_preview %}
