{# SPDX-FileCopyrightText: 2025-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "onboarding_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Create your first task - Projectify" %}
{% endblock title %}
{% block onboarding_content %}
    <form method="post" class="flex shrink grow flex-col gap-16">
        {% csrf_token %}
        <div class="flex flex-col gap-4">
            <h1 class="min-w-fit max-w-lg text-4xl font-bold">{% trans "What is a task you’d like to complete?" %}</h1>
            <p class="text-lg">
                {% if section %}
                    {% blocktrans %}It looks like you already have a section called "{{section}}". We will now create a task and place it into that section.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}This task will be placed in a section called "{{section_title}}".{% endblocktrans %}
                {% endif %}
            </p>
            <p class="text-lg">{% trans "Tasks can be further divided into sub tasks and contain detailed descriptions." %}</p>
        </div>
        {{ form }}
        {% include "projectify/forms/submit.html" with text=_("Continue") %}
        {% include "onboarding/common/step_counter.html" with step=3 step_count=5 %}
    </form>
{% endblock onboarding_content %}
{% block onboarding_preview %}
    <div class="ring-4 max-w-full flex flex-row ring-border bg-foreground py-2"
         inert>
        <div class="flex flex-col gap-2">
            <div class="mx-4 px-4 flex items-center gap-2 font-bold border rounded p-2">
                {% icon "briefcase" size=4 %}
                <span class="max-w-16 truncate">{{ workspace.title }}</span>
            </div>
            <div class="mx-4 flex flex-row items-center justify-start text-utility gap-2">
                {% icon "folder" size=4 %}
                <div class="font-bold mr-auto">{% trans "Projects" %}</div>
                {% icon "chevron-up" size=4 %}
            </div>
            <div class="flex w-full flex-row items-center gap-1 px-4 py-1">
                {% icon "folder" size=4 %}
                <div class="max-w-16 line-clamp-1 min-w-0 font-bold">{{ project.title }}</div>
            </div>
        </div>
        <div class="min-w-0 shrink flex flex-col px-4">
            <div class="flex flex-row items-center text-base-content min-w-0 gap-4 py-2">
                {% icon "chevron-down" size=4 %}
                <h1 class="line-clamp-1 min-w-0 shrink font-bold">{{ section_title }}</h1>
            </div>
            <div class="p-4 rounded-lg border border-border flex flex-row items-center gap-1 sm:gap-6">
                <span class="shrink-0 font-bold">#1</span>
                {% translate "Your task" as task_title_default %}
                <span id="task-title" class="text-ellipsis line-clamp-3">{{ task_title_default }}</span>
            </div>
        </div>
    </div>
</div>
<script nonce="{{ csp_nonce }}">
        (() => {
            const titleInput = document.querySelector('input[name="title"]');
            if (!titleInput) { return; }
            const taskTitle = document.getElementById('task-title');
            if (!taskTitle) { return; }
            const defaultTitle = '{{ task_title_default }}';
            titleInput.addEventListener('input', (event) => {
                const title = event.target.value.trim();
                if (!title) {
                    taskTitle.textContent = defaultTitle;
                    return;
                }
                taskTitle.textContent = title;
            });
        })();
</script>
{% endblock onboarding_preview %}
