{# SPDX-FileCopyrightText: 2025-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "onboarding_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Create a new workspace - Projectify" %}
{% endblock title %}
{% block onboarding_content %}
    <form method="post" class="flex shrink grow flex-col gap-16">
        {% csrf_token %}
        <div class="flex flex-col gap-4">
            <h1 class="overflow-hidden text-ellipsis max-w-lg text-4xl font-bold">
                {% if user %}
                    {% blocktrans %}Let’s set up your first workspace, {{user}}.{% endblocktrans %}
                {% else %}
                    {% trans "Let’s set up your first workspace." %}
                {% endif %}
            </h1>
            <div class="flex flex-col gap-2 text-lg">
                {% if workspace %}
                    <p>
                        {% blocktrans with title=workspace.title%}It looks like you already have a workspace called "{{ title }}", would you like to continue with this workspace and create a project?{% endblocktrans %}
                    </p>
                    {% anchor href="onboarding:new_project" label="Continue with this workspace and create a project" workspace_uuid=workspace.uuid %}
                {% else %}
                    <p>{% trans "You can create and manage numerous workspaces." %}</p>
                {% endif %}
            </div>
        </div>
        {{ form }}
        {% include "projectify/forms/submit.html" with text=_("Continue") %}
        {% include "onboarding/common/step_counter.html" with step=1 step_count=5 %}
    </form>
{% endblock onboarding_content %}
{% block onboarding_preview %}
    <div class="py-2 ring-4 gap-2 flex flex-col ring-border bg-foreground"
         inert>
        <div class="mx-4 px-4 flex items-center gap-2 font-bold border rounded p-2">
            {% icon "briefcase" size=4 %}
            {% translate "Your workspace" as workspace_title_default %}
            <span id="workspace-title" class="max-w-xs truncate">{{ workspace_title_default }}</span>
        </div>
        <div class="mx-4 flex flex-row items-center justify-start text-utility gap-2">
            {% icon "folder" size=4 %}
            <div class="font-bold mr-auto">{% trans "Projects" %}</div>
            {% icon "chevron-up" size=4 %}
        </div>
        <div class="flex w-full flex-row items-center gap-1 px-4 py-1">
            {% icon "folder" size=4 %}
            <div class="line-clamp-1 min-w-0 font-bold">{% trans "Your project" %}</div>
        </div>
    </div>
</div>
<script nonce="{{ csp_nonce }}">
        (() => {
            const titleInput = document.querySelector('input[name="title"]');
            if (!titleInput) { return; }
            const workspaceTitle = document.getElementById('workspace-title');
            if (!workspaceTitle) { return; }
            const defaultTitle = '{{ workspace_title_default }}';
            titleInput.addEventListener('input', (event) => {
                const title = event.target.value.trim();
                if (!title) {
                    workspaceTitle.textContent = defaultTitle;
                    return;
                }
                workspaceTitle.textContent = title;
            });
        })();
</script>
{% endblock onboarding_preview %}
