{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
<div class="flex flex-col items-start gap-2">
    {# TODO add back the anchorTop to the right of the label #}
    {% if field.use_fieldset %}
        <fieldset {% if field.help_text and field.auto_id and "aria-describedby" not in field.field.widget.attrs %} aria-describedby="{{ field.auto_id }}_helptext"{% endif %}>
            {% if field.label %}{{ field.legend_tag }}{% endif %}
        {% else %}
            {% if field.label %}{{ field.label_tag }}{% endif %}
        {% endif %}
        {% if field.help_text %}
            <div class="helptext"
                 {% if field.auto_id %}id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>
        {% endif %}
        {{ field }}
        {% if field.errors %}
            <div class="flex w-full flex-row items-end justify-start gap-1 px-1">
                <p class="text-error">{{ field.errors.as_text }}</p>
                {# TODO add back anchorBottom to the right of the error text #}
            </div>
        {% endif %}
        {% if field.use_fieldset %}</fieldset>{% endif %}
</div>
