{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load static %}
{% load i18n %}
<footer class="flex w-full gap-6 gap-8 border-t border-border p-8 flex-wrap sm:flex-row">
    <nav class="flex flex-col flex-wrap gap-12 sm:flex-row">
        <div class="flex flex-col gap-6">
            <a class="flex flex-col gap-2" href="/">
                <div class="flex flex-row items-center gap-2">
                    <img src="{% static "polylogo.svg" %}" alt="Projectify">
                </div>
                <p>{% trans "Project management at pace." %}</p>
            </a>
        </div>
        <section class="flex flex-col gap-1">
            <h6 class="font-bold">{% trans "Product" %}</h6>
            <ul class="flex flex-col gap-2">
                <li>
                    <a href="{% url "storefront:pricing" %}"
                       class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Pricing" %}</a>
                </li>
                <li>
                    <a href="{% url "storefront:solutions:list" %}"
                       class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Solutions" %}</a>
                </li>
            </ul>
        </section>
        <section class="flex flex-col gap-1">
            <h6 class="font-bold">{% trans "Resources" %}</h6>
            <ul class="flex flex-col gap-2">
                <li>
                <a href="{% url "help:list" %}"
                   class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base"
                   target="_blank">{% trans "Help and tips" %}<span class="sr-only">{% trans "(Opens in new tab)" %}</span>
                {% include "heroicons/external_links.svg" %}
            </a>
        </li>
        <li>
        <a href="{% url "help:detail" page="keyboard-shortcuts" %}"
           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base"
           target="_blank">{% trans "Keyboard shortcuts" %}<span class="sr-only">{% trans "(Opens in new tab)" %}</span>
        {% include "heroicons/external_links.svg" %}
    </a>
</li>
<li>
<a href="https://www.jwpconsulting.net/tags/projectify/"
   class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base"
   target="_blank">{% trans "Blog" %}<span class="sr-only">{% trans "(Opens in new tab)" %}</span>
{% include "heroicons/external_links.svg" %}
</a>
</li>
<li>
<a href="https://github.com/jwpconsulting/projectify"
   class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base"
   target="_blank">{% trans "GitHub Repository" %}<span class="sr-only">{% trans "(Opens in new tab)" %}</span>
{% include "heroicons/external_links.svg" %}
</a>
</li>
<li>
    <a href="/download"
       class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Download and install" %}</a>
</li>
</ul>
</section>
<section class="flex flex-col gap-1">
    <h6 class="font-bold">{% trans "Company" %}</h6>
    <ul class="flex flex-col gap-2">
        <li>
            <a href="{% url "storefront:accessibility" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Accessibility statement" %}</a>
        </li>
        <li>
            <a href="{% url "storefront:contact_us" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Contact us" %}</a>
        </li>
        <li>
        <a href="https://www.jwpconsulting.net"
           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base"
           target="_blank">{% trans "Corporate information" %}<span class="sr-only">{% trans "(Opens in new tab)" %}</span>
        {% include "heroicons/external_links.svg" %}
    </a>
</li>
</ul>
</section>
<section class="flex flex-col gap-1">
    <h6 class="font-bold">{% trans "Security" %}</h6>
    <ul class="flex flex-col gap-2">
        <li>
            <a href="{% url "storefront:security:general" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "General information" %}</a>
        </li>
        <li>
            <a href="{% url "storefront:security:disclose" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Disclosure Policy" %}</a>
        </li>
    </ul>
</section>
<section class="flex flex-col gap-1">
    <h6 class="font-bold">Legal</h6>
    <ul class="flex flex-col gap-2">
        <li>
            <a href="{% url "storefront:privacy" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Privacy Policy" %}</a>
        </li>
        <li>
            <a href="{% url "storefront:tos" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Terms of Service" %}</a>
        </li>
        <li>
            <a href="{% url "storefront:credits" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Credits" %}</a>
        </li>
        <li>
            <a href="{% url "storefront:free_software" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Free Software" %}</a>
        </li>
    </ul>
</section>
</nav>
<section class="flex flex-col gap-4">
    <p>
        {% trans "Copyright 2021-2024 JWP Consulting GK" %}
        <br>
        {% trans "The Projectify application is free software, and you are welcome to redistribute it under certain conditions; " %}<a href="/free-software"
   class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "see here for details" %}</a>
    </p>
    <p class="text-utility">
        {% trans "This version was built on 2025-05-05 from commit 3898a21a on branch feat/remove-fe-storefront-pages committed on 2025-05-05." %}
    </p>
</section>
</footer>
