{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "solutions_base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% translate "Project management with Projectify" %}
{% endblock title %}
{% block solutions_content %}
    <main class="flex flex-col items-center gap-10 bg-foreground pb-20">
        {% trans "Project management solutions" as title %}
        {% trans "How project managers can use Projectify to efficiently manage tasks, projects and team members of their team." as text %}
        {% trans "Two Polys in a factory pointing at machines symbolized by huge gears. The mascot on the left holds a wrench." as alt %}
        {% include "storefront/common/solutions_header.html" with title=title src="solutions/hero-project-management.png" text=text alt=alt %}
        <div class="w-full p-6 max-w-4xl">
            <div class="flex w-full flex-col items-center gap-6 sm:gap-16">
                {% trans "An ethical approach to management" as title %}
                {% trans "View how many tasks a team member has assigned to them, so the workload can be divided equally. Filter by team member to see what individual colleagues are working on." as text %}
                {% trans "An illustration showing how Projectify displays each team members assigned task count" as alt %}
                {% include "storefront/common/solutions_detail_item.html" with title=title text=text src="solutions/project-management-team-member.png" alt=alt %}
                {% trans "Full control of your workspaces" as title %}
                {% trans "List and column views allow you to organise workflows and see the bigger picture. Split your workspace into projects to enable multi-project management. Filter by labels, users or keyboards to focus on specific tasks." as text %}
                {% trans "An illustration showing a collapsed dashboard side bar and various team members and labels" as alt %}
                {% include "storefront/common/solutions_detail_item.html" with title=title text=text src="solutions/filters.png" alt=alt %}
                {% trans "Permissions to control access" as title %}
                {% trans "Make sure nothing important gets deleted. With permission roles - Owner, Maintainer, Contributor and Observer, you can be safe in knowing there won't be any accidental data loss." as text %}
                {% trans "An illustration of a settings screen showing team members belonging to a team member and their role within the workspace. The illustration also shows a button allowing filtering by role and another button letting a user invite new team members" as alt %}
                {% include "storefront/common/solutions_detail_item.html" with title=title text=text src="solutions/project-management-permissions.png" alt=alt imgPosition="left" %}
            </div>
        </div>
    </main>
{% endblock solutions_content %}
