{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# TODO The below 6 items can be refactored using a for loop #}
{% extends "solutions_base.html" %}
{% load static %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Solutions - Projectify" %}
{% endblock title %}
{% block solutions_content %}
    <main class="flex flex-col items-center gap-10 bg-foreground pb-20">
        {% include "storefront/common/solutions_header.html" with title=_("Solutions for every type of user") alt=_("An illustration showing users of different backgrounds") src="solutions/hero-solutions.png" text=_("Explore the different ways users are using Projectify to meet due dates, reach targets and be productive.") %}
        <div class="w-full p-6 max-w-4xl flex flex-col items-center gap-12 md:grid md:grid-cols-3 md:gap-8">
            <section class="flex h-full flex-col justify-between gap-4">
                <img src="{% static "solutions/hero-development-teams.png" %}"
                     alt="{% trans "Our mascot Poly sitting in front of a computer, developing software and looking content" %}"
                     class="rounded-lg"
                     width="728"
                     height="492" />
                <div class="flex h-full flex-col gap-4">
                    <h2 class="font-bold">{% trans "Development teams" %}</h2>
                    <p class="font-normal">{% trans "Monitor team progress throughout the whole software lifecyle." %}</p>
                </div>
                {% anchor "storefront:solutions:detail" label=_("Learn more") page="development-teams" %}
            </section>
            <section class="flex h-full flex-col justify-between gap-4">
                <img src="{% static "solutions/hero-project-management.png" %}"
                     alt="{% trans "Two Polys in a factory pointing at machines symbolized by huge gears. The mascot on the left holds a wrench." %}"
                     class="rounded-lg"
                     width="728"
                     height="492" />
                <div class="flex h-full flex-col gap-4">
                    <h2 class="font-bold">{% trans "Project management" %}</h2>
                    <p class="font-normal">{% trans "Faciliate rapid delivery across multiple projects for any industry." %}</p>
                </div>
                {% anchor "storefront:solutions:detail" label=_("Learn more") page="project-management" %}
            </section>
            <section class="flex h-full flex-col justify-between gap-4">
                <img src="{% static "solutions/hero-academic.png" %}"
                     alt="{% trans "Our mascot Poly celebrating their graduation from an educiational institution, wearing an academic dress, throwing a square academic cap into the air" %}"
                     class="rounded-lg"
                     width="728"
                     height="492" />
                <div class="flex h-full flex-col gap-4">
                    <h2 class="font-bold">{% trans "Academic endeavours" %}</h2>
                    <p class="font-normal">{% trans "Structure a thesis, organise a project or keep track of assignments." %}</p>
                </div>
                {% anchor "storefront:solutions:detail" label=_("Learn more") page="academic" %}
            </section>
        </div>
    </main>
{% endblock solutions_content %}
