{# SPDX-FileCopyrightText: 2024-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "storefront/storefront_hero.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Contact - Projectify" %}
{% endblock title %}
{% block hero_title %}
    {% trans "Contact" %}
{% endblock hero_title %}
{% block hero_content %}
    <div class="w-full p-6 max-w-4xl flex flex-row items-center justify-center gap-8">
        <div class="prose">{{ content }}</div>
        <div class="hidden md:block">{% picture src="contact-us.png" alt=_("An illustration of a phone booth") %}</div>
    </div>
{% endblock hero_content %}
