{# SPDX-FileCopyrightText: 2025-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "solutions_base.html" %}
{% load static %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Projectify for academia" %}
{% endblock title %}
{% block solutions_content %}
    <main id="main"
          class="flex flex-col items-center gap-10 bg-foreground pb-20">
        {% trans "Academic solutions" as title %}
        {% trans "How students can use Projectify to plan a thesis, collaborate, or keep track of assignments." as text %}
        {% trans "Two content looking Polys (our mascot) researching in a laboratory and taking down notes on a chalkboard" as alt %}
        {% include "storefront/common/solutions_header.html" with title=title text=text src="solutions/hero-academic.png" alt=alt %}
        <div class="max-w-4xl p-6 flex w-full flex-col items-center gap-6 sm:gap-16">
            {% trans "Organize your coursework efficiently" as title %}
            {% trans "Keep all your tasks organized in one place. From essay assignments to research projects, Projectify helps you  collaborate with classmates. Labels make it easy to categorize and prioritze your coursework." as text %}
            {% trans "A screenshot showing academic tasks organized with labels and assignees" as alt %}
            {% include "storefront/common/solutions_detail_item.html" with title=title text=text src="solutions/academic-tasks.png" alt=alt imgPosition="right" %}
        </div>
        {% anchor href="storefront:solutions:list" label=_("Find other solutions for your project management needs") %}
    </main>
{% endblock solutions_content %}
