{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load i18n %}
{% block dashboard_projects %}
    {% include "workspace/common/sidebar/project_details.html" %}
{% endblock dashboard_projects %}
{% block dashboard_content %}
    <div class="min-w-0 grow" role="presentation">
        <div class="flex h-full flex-col items-center bg-background px-0 py-8 sm:px-2">
            <div class="flex w-full max-w-xl flex-col gap-4">
                <main class="flex w-full max-w-xl flex-col gap-10 rounded-lg bg-foreground p-4 shadow-context-menu">
                    <h1 class="px-2 text-2xl font-bold sm:px-0">
                        {% block form_title %}
                        {% endblock form_title %}
                    </h1>
                    {% block form_content %}
                    {% endblock form_content %}
                </main>
            </div>
        </div>
    </div>
{% endblock dashboard_content %}
