{# SPDX-FileCopyrightText: 2024-2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with title=project.title %}{{ title }} - Projectify{% endblocktrans %}
{% endblock title %}
{% block dashboard_content %}
    <div id="project-detail" class="min-w-0 grow" role="presentation">
        <main class="flex h-full flex-col items-center gap-4 bg-background py-4">
            <form role="search"
                  action="{% url "dashboard:projects:detail" project_uuid=project.uuid %}"
                  class="flex w-full max-w-md flex-col gap-2 rounded-xl bg-foreground px-4 py-4">
                <div class="flex flex-col items-start gap-2">
                    <div class="flex w-full flex-row items-center justify-between">
                        <label for="search"
                               class="font-bold text-base-content first-letter:uppercase">
                            {% translate "Task search" %}
                        </label>
                    </div>
                    <div class="flex w-full flex-row items-center gap-2">
                        <input type="search"
                               class="placeholder:text-task-update-text peer h-full w-full rounded-lg border border-border px-2 py-2"
                               id="search"
                               name="search"
                               placeholder="{% translate "Enter search terms" %}"
                               required="" />
                    </div>
                </div>
                <!--<InputField>-->
                <button type="submit"
                        class="text-tertiary-content hover:text-tertiary-content-hover active:bg-tertiary-pressed active:text-tertiary-content-hover text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-transparent disabled:text-disabled-content">
                    <span class="h-6 w-6">{% include "heroicons/search.svg" %}</span>
                    Search tasks
                </button>
                <!--<button>-->
            </form>
            <div class="flex w-full grow flex-col gap-4 md:p-2">
                {% for section in project.section_set.all %}
                    {% include "workspace/project_detail/section.html" with section=section %}
                {% endfor %}
                <div class="sticky bottom-0 self-end p-2">
                    <a type="button"
                       href="{% url "dashboard:projects:create-section" project.uuid %}"
                       class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">
                        {% translate "Create section" %}
                    </a>
                </div>
                <!--<+page>-->
            </div>
        </main>
        <!--<+layout>-->
    </div>
{% endblock dashboard_content %}
