{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/form_base.html" %}
{% load i18n %}
{% load projectify %}
{% block form_title %}
    {% translate "Create project" %}
{% endblock form_title %}
{% block form_content %}
    <form action="{% url 'dashboard:workspaces:create-project' workspace.uuid %}"
          method="post"
          class="min-w-0 grow"
          role="presentation">
        {{ form.errors }}
        <div class="flex h-full flex-col p-4 pt-0">
            <div class="flex flex-col gap-8">
                <div class="flex flex-col gap-6">
                    {{ form.title.as_field_group }}
                    {{ form.description.as_field_group }}
                    {% include "projectify/forms/submit.html" with text=_("Create project") %}
                    {% url 'dashboard:workspaces:settings' workspace_uuid=workspace.uuid as url %}
                    {% anchor href=url label=_("Go to workspace settings") %}
                </div>
                {% csrf_token %}
            </div>
        </div>
    </form>
{% endblock form_content %}
