{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% block dashboard_content %}
    <form action="{% url 'dashboard:tasks:update' task.uuid %}"
          method="post"
          class="min-w-0 grow"
          role="presentation">
        {{ form.errors }}
        <div class="flex h-full flex-col p-4 pt-0">
            <div class="sticky top-0 flex flex-row flex-wrap items-center justify-between gap-x-2 gap-y-4 bg-foreground pb-8 pt-4 lg:flex-nowrap">
                <div class="flex shrink flex-row items-center gap-6">
                    <div class="shrink-0">
                        <a href="{% url "dashboard:projects:detail" task.section.project.uuid %}"
                           class="block w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background"
                           aria-label="Go back to section">
                            <svg fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="100%"
                                 height="100%">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="font-bold text-utility">
                        <a href="{% url "dashboard:projects:detail" task.section.project.uuid %}"
                           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{{ task.section.project.title }}</a>
                        &gt;
                        <a href="{% url "dashboard:projects:detail" task.section.project.uuid %}#{{ section.uuid }}"
                           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{{ task.section.title }}</a>
                        &gt; <a href="{% url "dashboard:tasks:detail" task.uuid %}"
    class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{{ task.title }}</a>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-4 sm:flex-row">
                    <input type="submit"
                           value="Update task"
                           name="submit"
                           class=" bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content" />
                    <input type="submit"
                           name="submit_stay"
                           value="Update task and stay"
                           class=" bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content" />
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <table class="flex w-full max-w-xl flex-col gap-y-4 sm:grid sm:grid-cols-4">
                    <tbody class="contents">
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">{{ form.title.label_tag }}</th>
                            <td class="col-span-3">
                                <div class="flex flex-col items-start gap-2">
                                    <div class="flex w-full flex-row items-center gap-2">{{ form.title }}</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">{{ form.assignee.label_tag }}</th>
                            <td class="col-span-3">{{ form.assignee }}</td>
                        </tr>
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">{{ form.labels.label_tag }}</th>
                            <td class="col-span-3">{{ form.labels }}</td>
                        </tr>
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">{{ form.due_date.label_tag }}</th>
                            <td class="col-span-3">
                                <div class="flex flex-row items-center gap-4">
                                    <div class="flex flex-col items-start gap-2">
                                        <div class="flex w-full flex-row items-center gap-2">
                                            <input type="text"
                                                   class="placeholder:text-task-update-text peer h-full w-full rounded-lg border border-border px-2 py-2"
                                                   id="due-date"
                                                   name="due-date"
                                                   placeholder="Select due date">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">{{ form.description.label_tag }}</th>
                            <td class="col-span-3">{{ form.description }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-row items-center gap-4">
                            <h4 class="text-xl font-bold">Sub tasks</h4>
                        </div>
                        <div id="add-subtask" class="flex flex-row items-center gap-6">
                            <button type="submit"
                                    name="add_sub_task"
                                    value="add_sub_task"
                                    class="w-full text-tertiary-content hover:text-tertiary-content-hover active:bg-tertiary-pressed active:text-tertiary-content-hover text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-transparent disabled:text-disabled-content">
                                <svg fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="100%"
                                     height="100%"
                                     class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                                </svg>
                                Add sub task
                            </button>
                        </div>
                    </div>
                    <div id="subtasks">
                        {{ formset.errors }}
                        {% for form in formset %}
                            <div data-formset
                                 class="flex w-full flex-row items-center justify-between gap-2 px-2 py-1">
                                <div class="flex grow flex-row items-center gap-2">
                                    <label for="{{ form.done.id_for_label }}" class="sr-only">{{ form.done.label }}</label>
                                    {{ form.done }}
                                    <div class="grow">
                                        <label for="{{ form.title.id_for_label }}" class="sr-only">{{ form.title.label }}</label>
                                        <div class="flex flex-col items-start gap-2">
                                            <div class="flex w-full flex-row items-center gap-2">{{ form.title }}</div>
                                        </div>
                                    </div>
                                    {% if form.uuid.value %}
                                        <input type="hidden"
                                               name="{{ form.uuid.html_name }}"
                                               value="{{ form.uuid.value }}">
                                    {% endif %}
                                    <div>
                                        {{ form.delete }}
                                        <label for="{{ form.delete.id_for_label }}">{{ form.delete.label }}</label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {{ formset.management_form }}
                {% csrf_token %}
            </div>
        </div>
    </form>
{% endblock dashboard_content %}
