{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% blocktrans with section_title=section.title %}Add task to {{ section_title }} - Projectify{% endblocktrans %}
{% endblock title %}
{% block dashboard_content %}
    <form action="{% url 'dashboard:sections:create-task' section.uuid %}"
          method="post"
          class="min-w-0 grow"
          role="presentation">
        {{ form.errors }}
        <div class="flex h-full flex-col p-4 pt-0">
            <div class="sticky top-0 flex flex-row flex-wrap items-center justify-between gap-x-2 gap-y-4 bg-foreground pb-8 pt-4 lg:flex-nowrap">
                <div class="flex shrink flex-row items-center gap-6">
                    <div class="shrink-0">
                        <a href="{% url "dashboard:projects:detail" section.project.uuid %}"
                           class="block w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background"
                           aria-label="Go back to section">{% icon "x" %}</a>
                    </div>
                    {% include "workspace/task/breadcrumbs.html" with section=section current_page_label=_("New task (currently creating)") current_page_url=request.get_full_path %}
                </div>
                <div class="grid grid-cols-2 gap-4 min-w-0">
                    {% include "projectify/forms/submit.html" with name="action" value="create" text=_("Create task") %}
                    {% action_button text=_("Create and stay") name="action" value="create_stay" %}
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <table class="flex w-full max-w-xl flex-col gap-y-4 sm:grid sm:grid-cols-4">
                    <tbody class="contents">
                        {{ form.as_table }}
                    </tbody>
                </table>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-row items-center gap-4">
                            <h4 class="text-xl font-bold">{% translate "Sub tasks" %}</h4>
                        </div>
                        {% include "workspace/task_create/sub_task.html" with formset_html=formset formset_total=0 %}
                    </div>
                    <div id="subtasks"></div>
                </div>
                {{ formset.management_form }}
                {% csrf_token %}
            </div>
        </div>
    </form>
{% endblock dashboard_content %}
