{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/form_base.html" %}
{% load i18n %}
{%comment%} Task context menu replacement

Add:
- Move to section
- Move to top
- Move to bottom
- Delete task
{% endcomment %}
{% load projectify rules %}
{% block form_content %}
    <div id="task-actions"
         class="min-w-0 grow flex flex-col gap-4"
         role="presentation">
        <h1 class="text-2xl font-bold">{% translate "Task actions" %}</h1>
        <form hx-post="{% url 'dashboard:tasks:move' task.uuid %}"
              class="flex flex-col gap-1">
            <div class="flex flex-col items-start gap-2">
                <button name="direction" value="top" type="submit">{% translate "Move to top" %}</button>
                {# TODO conditionally hide if bottom #}
                <button name="direction" value="bottom" type="submit">{% translate "Move to bottom" %}</button>
            </div>
            {% csrf_token %}
            <p class="htmx-indicator">saving...</p>
        </form>
        <form hx-post="{% url 'dashboard:tasks:move-to-section' task.uuid %}"
              class="flex flex-col gap-1">
            <div>
                <h2 class="font-bold">{% trans "Move to section" %}</h2>
                <ul class="flex flex-col">
                    {% for section in sections %}
                        <li>
                            <button type="submit" name="section_uuid" value="{{ section.uuid }}">{{ section.title }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
        <form hx-post="{% url 'dashboard:tasks:delete' task.uuid %}"
              hx-confirm="{% blocktrans with title=task.title %}Are you sure you want to delete the following task: {{ title }}{% endblocktrans %}">
            <button type="submit">{% translate "Delete task" %}</button>
        </form>
    </div>
{% endblock form_content %}
