{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "base.html" %}
{% block content %}
    <p>Create task for section {{ section.title }}</p>
    <form action="{% url 'workspace:sections:create-task' section.uuid %}"
          method="post"
          x-data="{ addSubTask() { } }">
        {{ form }}
        <div>
            <p>create your subtasks here</p>
            {{ formset.management_form }}
            {% include "workspace/task_create/sub_task.html" with formset_html=formset formset_total=0 %}
        </div>
        {% csrf_token %}
        <input type="submit" value="Create">
    </form>
{% endblock content %}
