{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "base.html" %}
{% block content %}
    <p>Create task for section {{ section.title }}</p>
    <form action="{% url 'workspace:sections:create-task' section.uuid %}"
          method="post"
          x-data="{ addSubTask() { } }">
        {{ form }}
        <p>create your subtasks here</p>
        {{ formset.management_form }}
        <template>
            {{ formset.empty_form }}
        </template>
        <table>
            {% for form in formset %}{{ form }}{% endfor %}
        </table>
        <button type="button" @click="addSubTask()">Add sub task</button>
        <input type="submit" value="Create">
        {% csrf_token %}
    </form>
{% endblock content %}
