{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load projectify %}
{% load rules %}
{% load i18n %}
{% block dashboard_content %}
    <div class="min-w-0 grow" role="presentation">
        <div class="flex h-full flex-col p-4 pt-0">
            <div class="sticky top-0 flex flex-row flex-wrap items-center justify-between gap-x-2 gap-y-4 bg-foreground pb-8 pt-4 lg:flex-nowrap">
                <div class="flex shrink flex-row items-center gap-6">
                    <div class="shrink-0">
                        <a href="{% url "dashboard:projects:detail" task.section.project.uuid %}"
                           class="block w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background"
                           aria-label="{% trans 'Go back to section' %}">{% include "heroicons/x.svg" %}</a>
                    </div>
                    {% include "workspace/task/breadcrumbs.html" with task=task %}
                </div>
                <div class="flex items-center justify-between gap-4 sm:flex-row">
                    {% has_perm "workspace.update_task" user task.workspace as can_update_task %}
                    {% if can_update_task %}
                        <a href="{% url "dashboard:tasks:update" task.uuid %}"
                           class=" bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">
                            {% trans "Edit" %}
                        </a><!--<button>-->
                    {% endif %}
                    <div>
                        <button aria-label="{% trans 'Open task context menu' %}"
                                class="focus:base-content relative h-8 w-8 rounded-lg border border-transparent p-1 focus:border-base-content focus:outline-none active:text-display enabled:hover:bg-secondary-hover enabled:active:bg-primary text-base-content">
                            {% include "heroicons/dots-vertical.svg" %}
                        </button>
                    </div>
                </div>
            </div>
            <!--<TopBar>-->
            <div class="flex flex-col gap-8">
                <table class="flex w-full max-w-xl flex-col gap-y-4 sm:grid sm:grid-cols-4">
                    <tbody class="contents">
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">
                                <label for="title">{% trans "Task title" %}</label>
                            </th>
                            <td class="col-span-3">
                                <div class="flex flex-row gap-4">
                                    {{ task.title }}
                                    <a href="{% url 'dashboard:tasks:update' task.uuid %}?focus=title"
                                       class="flex flex-row">
                                        <div class="h-4 w-4">{% include "heroicons/pencil.svg" %}</div>
                                    </a>
                                </div>
                                <!--<TaskTitle>-->
                            </td>
                        </tr>
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">
                                <label for="assignee">{% trans "Assignee" %}</label>
                            </th>
                            <td class="col-span-3">
                                <div class="flex flex-row gap-2">
                                    <button class="flex w-full flex-row items-center gap-2 rounded-2.5xl border border-dashed border-primary px-2 py-1 font-bold text-primary bg-task-hover"
                                            type="button"
                                            disabled="">
                                        {% user_avatar task.assignee.user %}
                                        <div class="truncate">{{ task.assignee }}</div>
                                    </button>
                                    <a href="{% url 'dashboard:tasks:update' task.uuid %}?focus=assignee">
                                        <div class="h-4 w-4">{% include "heroicons/pencil.svg" %}</div>
                                    </a>
                                </div>
                                <!--<TaskUser>-->
                            </td>
                        </tr>
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">
                                <label for="labels">{% trans "Labels" %}</label>
                            </th>
                            <td class="col-span-3">
                                <div class="flex flex-row items-start">
                                    <div class="flex flex-row flex-wrap items-center gap-x-1 gap-y-2">
                                        {% for label in task.labels.all %}
                                            <div class="shrink-0">
                                                <button class="group rounded-2.5xl border border-dashed border-primary px-3 py-1 font-bold {{ label.bg_class }} {{ label.text_class }}"
                                                        type="button"
                                                        disabled="">{{ label.name }}</button>
                                                <!--<label>-->
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a href="{% url 'dashboard:tasks:update' task.uuid %}?focus=labels">
                                        <div class="h-4 w-4">{% include "heroicons/pencil.svg" %}</div>
                                    </a>
                                </div>
                                <!--<TaskLabel>-->
                            </td>
                        </tr>
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">
                                <label for="due-date">{% trans "Due date" %}</label>
                            </th>
                            <td class="col-span-3">
                                <div class="flex flex-row gap-4">
                                    {{ task.due_date.date.isoformat }}
                                    <a href="{% url 'dashboard:tasks:update' task.uuid %}?focus=due_date"
                                       class="flex flex-row">
                                        <div class="h-4 w-4">{% include "heroicons/pencil.svg" %}</div>
                                    </a>
                                </div>
                                <!--<TaskDueDate>-->
                            </td>
                        </tr>
                        <tr class="contents">
                            <th scope="row" class="col-span-1 text-left font-bold">
                                <label for="description">{% trans "Description" %}</label>
                            </th>
                            <td class="col-span-3">
                                <div class="flex w-full flex-row items-start gap-4">
                                    <p>{{ task.description }}</p>
                                    <a href="{% url 'dashboard:tasks:update' task.uuid %}?focus=description">
                                        <div class="h-4 w-4">{% include "heroicons/pencil.svg" %}</div>
                                    </a>
                                </div>
                                <!--<TaskDescription>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<Fields>-->
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row items-center justify-between">
                        <div class="flex flex-row items-center gap-4">
                            <h4 class="text-xl font-bold">{% trans "Sub tasks" %}</h4>
                        </div>
                    </div>
                    {% if task.sub_task_progress %}
                        <div class="flex flex-row items-center gap-4">
                            <div class="h-2 w-full overflow-hidden rounded bg-disabled">
                                {# djlint:off H021 #}
                                <div class="h-full bg-primary"
                                     style="width: {{ task.sub_task_progress|percent }}"></div>
                            </div>
                            <p class="min-w-max font-bold">{{ task.sub_task_progress|percent }}</p>
                        </div>
                    {% endif %}
                </div>
                <!--<SubTaskBar>-->
                <div class="flex grow flex-col">
                    {% for sub_task in task.subtask_set.all %}
                        <div class="flex w-full flex-row items-center justify-between gap-2 px-2 py-1">
                            <div class="flex grow flex-row items-center gap-2">
                                <label for="checkbox-d33464d9-083e-4e76-ac8d-42d35aed6c79" class="sr-only">{% trans "Sub task done" %}</label>
                                <div class="relative m-0.5 h-4 w-4 rounded border border-secondary-hover ">
                                    <input class="absolute -left-[3px] -top-[3px] h-5 w-5 appearance-none rounded-md border border-transparent"
                                           type="checkbox"
                                           id="checkbox-d33464d9-083e-4e76-ac8d-42d35aed6c79"
                                           checked="{{ sub_task.done|yesno:"true,false" }}"
                                           disabled="">
                                </div>
                                <!--<Checkbox>-->
                                <div class="grow">
                                    <label for="d33464d9-083e-4e76-ac8d-42d35aed6c79" class="sr-only">{% trans "Enter a subtask" %}</label>
                                    <div class="flex flex-col items-start gap-2">
                                        <div class="flex w-full flex-row items-center gap-2">
                                            <input type="text"
                                                   class="placeholder:text-task-update-text peer h-full w-full rounded-lg border border-border px-2 py-2"
                                                   id="d33464d9-083e-4e76-ac8d-42d35aed6c79"
                                                   name="sub-task-d33464d9-083e-4e76-ac8d-42d35aed6c79"
                                                   value="{{ sub_task.title }}"
                                                   placeholder="{% trans 'Enter a subtask' %}"
                                                   readonly="true">
                                            <a href="{% url 'dashboard:tasks:update' task.uuid %}?focus=subtasks"
                                               class="flex flex-row">
                                                <div class="h-4 w-4">{% include "heroicons/pencil.svg" %}</div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--<InputField>-->
                                </div>
                            </div>
                        </div>
                        <!--<SubTaskLine>-->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock dashboard_content %}
