{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/form_base.html" %}
{% load i18n %}
{%comment%} Task context menu replacement

Add:
- Move to section
- Move to top
- Move to bottom
- Delete task
{% endcomment %}
{% load projectify rules %}
{% block form_content %}
    <div id="task-actions"
         class="min-w-0 grow flex flex-col gap-4"
         role="presentation">
        <h1 class="text-2xl font-bold">{% translate "Task actions" %}</h1>
        <form hx-post="{% url 'dashboard:tasks:move' task.uuid %}"
              hx-target="#app-content"
              hx-select="#app-content"
              hx-swap="outerHTML"
              hx-push-url="true"
              class="flex flex-col gap-1">
            <div class="flex flex-col items-start gap-2">
                {% action_button text=_("Move to top") icon="arrow-up" value="top" name="direction" %}
                {# TODO conditionally hide if bottom #}
                {% action_button text=_("Move to bottom") icon="arrow-down" value="bottom" name="direction" %}
            </div>
            {% csrf_token %}
            <p class="htmx-indicator">saving...</p>
        </form>
        <form hx-post="{% url 'dashboard:tasks:move-to-section' task.uuid %}"
              hx-target="#app-content"
              hx-select="#app-content"
              hx-swap="outerHTML"
              hx-push-url="true"
              class="flex flex-col gap-1">
            <h2 class="font-bold">{% trans "Move to section" %}</h2>
            <ul class="flex flex-col">
                {% for section in sections %}
                    <li>{% action_button text=section.title icon="selector" value=section.uuid name="section_uuid" %}</li>
                {% endfor %}
            </ul>
            <p class="htmx-indicator">saving...</p>
        </form>
        <form hx-post="{% url 'dashboard:tasks:delete' task.uuid %}"
              hx-confirm="{% blocktrans with title=task.title %}Are you sure you want to delete the following task: {{ title }}{% endblocktrans %}">
            {% action_button text=_("Delete task") icon="trash" style="destructive" %}
        </form>
    </div>
{% endblock form_content %}
