{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load i18n %}
{% block dashboard_projects %}
    {% include "workspace/common/sidebar/project_details.html" with projects=projects %}
{% endblock dashboard_projects %}
{% block dashboard_content %}
    <div class="min-w-0 grow" role="presentation">
        <div class="flex h-full flex-col items-center bg-background px-0 py-8 sm:px-2">
            <div class="flex w-full max-w-xl flex-col gap-4">
                <h1 class="px-2 text-2xl font-bold sm:px-0">{% trans "Workspace settings" %}</h1>
                <main class="flex w-full max-w-xl flex-col gap-10 rounded-lg bg-foreground p-4 shadow-context-menu">
                    <div class="flex flex-row flex-wrap">
                        <a href="{% url "dashboard:workspaces:settings" workspace.uuid %}"
                           class="border-b-2 p-2.5 font-bold uppercase hover:text-base-content {% if request.resolver_match.url_name == 'settings' %}border-base-content text-base-content{% else %}border-border text-utility{% endif %}">{% trans "General" %}</a>
                        <a href="{% url 'dashboard:workspaces:projects' workspace.uuid %}"
                           class="border-b-2 p-2.5 font-bold uppercase hover:text-base-content {% if request.resolver_match.url_name == 'projects' %}border-base-content text-base-content{% else %}border-border text-utility{% endif %}">{% trans "Projects" %}</a>
                        <a href="{% url 'dashboard:workspaces:team-members' workspace.uuid %}"
                           class="border-b-2 p-2.5 font-bold uppercase hover:text-base-content {% if request.resolver_match.url_name == 'team-members' %}border-base-content text-base-content{% else %}border-border text-utility{% endif %}">{% trans "Team" %}</a><!--<TabElement>--> <a href="{% url 'dashboard:workspaces:billing' workspace.uuid %}"
    class="border-b-2 p-2.5 font-bold uppercase hover:text-base-content {% if request.resolver_match.url_name == 'billing' %}border-base-content text-base-content{% else %}border-border text-utility{% endif %}">{% trans "Billing" %}</a>
                        <a href="{% url 'dashboard:workspaces:quota' workspace.uuid %}"
                           class="border-b-2 p-2.5 font-bold uppercase hover:text-base-content {% if request.resolver_match.url_name == 'quota' %}border-base-content text-base-content{% else %}border-border text-utility{% endif %}">{% trans "Quota" %}</a>
                        <div class="grow border-b-2 border-border"></div>
                    </div>
                    <div id="settings-content" class="flex flex-col gap-10">
                        {% block workspace_settings_content %}
                        {% endblock workspace_settings_content %}
                    </div>
                    <!--<+page>-->
                </main>
            </div>
            <!--<+layout>-->
        </div>
        <!--<+layout>-->
    </div>
{% endblock dashboard_content %}
