[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

indent_style = space
indent_size = 4
max_line_length = 79

[*.md]
indent_size = 2

[*.nix]
indent_size = 2

[.git/COMMIT_EDITMSG]
max_line_length = 72
