# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2024 JWP Consulting GK
# Common
# ======

# macOS
# -----
.DS_Store

# Direnv, Dotenv
# --------------
.direnv/
.env
.env.*
!.env.template

# NPM
node_modules/

# Backend
# =======
projectify/media/
projectify/staticfiles/
**/__pycache__
.mypy_cache/
.coverage
# Django Tailwind
projectify/theme/static_src/node_modules

# Supervisor
# ==========
supervisord.log
supervisord.pid
*.rdb
*.sqlite

# podman-compose containers
# =========================
/build/

# aspell stuff
# ============
*.bak

# Nix build
result*
