# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2024 JWP Consulting GK
# Common
# ======

# macOS
# -----
.DS_Store

# Direnv, Dotenv
# --------------
.direnv/
.env
.env.*
!.env.template

# NPM
node_modules/

# Backend
# =======
/backend/.env
/backend/projectify/media/
/backend/projectify/staticfiles/
/backend/**/__pycache__
/backend/.direnv
/backend/.mypy_cache/
/backend/.coverage
# Django Tailwind
/backend/projectify/theme/static_src/node_modules
/backend/projectify/theme/static/css/dist/styles.css

# Frontend
# ========
# Favicons
# --------
/frontend/static/yandex*
/frontend/static/favicon*
/frontend/static/shortcut1*
/frontend/static/mstile*
/frontend/static/browserconfig.xml
/frontend/static/manifest.webmanifest
/frontend/static/apple-touch-*
/frontend/static/android-chrome-*
# SvelteKit
# ---------
/frontend/build
/frontend/.svelte-kit
/frontend/package

# Linters
# -------
/frontend/.eslintcache

# TODO still needed?
# ------------------
/frontend/.vercel
/frontend/.netlify
/frontend/tmp

# Frontend stories
# ========
/stories/.svelte-kit
# Linters
# -------
/stories/.eslintcache

# Tooling
# =======
/tools/.mypy_cache/

# Supervisor
# ==========
supervisord.log
supervisord.pid
*.rdb
*.sqlite

# podman-compose containers
# =========================
/build/

# aspell stuff
# ============
*.bak

# Nix build
result*
