{
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "es5",
    "printWidth": 79,
    "quoteProps": "consistent",
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
