# SPDX-FileCopyrightText: 2021 toydarian
# SPDX-License-Identifier: CC-BY-SA-4.0
# https://stackoverflow.com/questions/68496003/how-can-i-make-ansible-reuse-ssh-sessions-instead-of-creating-a-new-one-for-each
[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=1200
