{
	admin off
}
# Helpful links for Caddy security headers
# https://github.com/jpcaparas/caddy-csp/blob/f241472610a5a4e4f8d74e0976120bbb2cca84cc/Caddyfile
# https://paulbradley.dev/caddyfile-web-security-headers/
(csp_headers) {
	# We have to make sure we don't override any CSP headers, should SvelteKit
	# with adapter-node decide to return a header itself
	header ?Content-Security-Policy "
		default-src 'self';
		style-src 'self';
		script-src 'self';
		font-src 'self';
		img-src 'self' res.cloudinary.com;
		form-action 'self';
		connect-src 'self';
		frame-ancestors 'none';
		object-src 'self';
		base-uri 'self';
	"
	# TODO add default-src 'none', at least as a report directive
}
{$HOST:invalid}:{$PORT:invalid} {
	header {
		X-Frame-Options DENY
		# TODO make this 1 year and add preload
		# Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Strict-Transport-Security "max-age=3600; includeSubDomains"
		# TODO add this:
		# X-Content-Type-Options nosniff
	}
	import csp_headers
	handle /admin/* {
		reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
	}
	handle /static/django/* {
		reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
	}
	handle /ws/* {
		reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
	}
	handle_path /api/* {
		reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
	}
	handle /* {
		reverse_proxy {$FRONTEND_HOST}:{$FRONTEND_PORT}
	}
}
