# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2024 JWP Consulting GK
{
	admin off
}

# The additional host requires setting the port within the variable.
# The idea is to avoid accidentally leaving out $ADDITIONAL_HOST and then
# having a stranded ":" there, if we instead write
# {$ADDITIONAL_HOST}:{$ADDITIONAL_PORT}
{$HOST:invalid}:{$PORT:invalid} {$ADDITIONAL_HOST} {
	header {
		Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
	}
	reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
}
