[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.6.0"
tqdm = "==4.64.0"
factory-boy = "==3.2.1"
flake8 = "==4.0.1"
pytest-django = "==4.5.2"
flake8-black = "==0.3.3"
flake8-isort = "==4.1.1"
isort = "==5.10.1"
flake8-docstrings = "==1.6.0"
ipython = "==8.4.0"
pytest-celery = "==0.0.0"
pytest-asyncio = "==0.19.0"
pytest = "==7.1.2"
django-test-migrations = "==1.2.0"

[packages]
dj-database-url = "==0.5.0"
django = "==4.0.6"
django-cors-headers = "==3.13.0"
django-extensions = "3.2.0"
psycopg2 = "==2.9.3"
python-dotenv = "==0.20.0"
whitenoise = "==6.2.0"
gunicorn = "==20.1.0"
newrelic = "==7.14.0.177"
redis = "==4.3.1"
celery = {extras = ["redis"], version = "==5.2.7"}
django-celery-results = "==2.4.0"
kombu = "==5.2.4"
django-anymail = {extras = ["mailgun"], version = "==8.6"}
django-ordered-model = "==3.6"
channels = "==3.0.4"
channels-redis = {extras = ["cryptography"], version = "==3.4.0"}
uvicorn = "==0.17.6"
djangorestframework = "==3.13.1"
pillow = "==9.2.0"
django-cloudinary-storage = "==0.3.0"
websockets = "==10.3"
strawberry-graphql = "==0.119.0"
strawberry-graphql-django = "==0.4.0"
stripe = "==3.5.0"
rules = "==3.3"
django-pgtrigger = "==2.4.1"
django-debug-toolbar = "==3.5.0"
requests = "==2.28.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
