[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.6.0"
django-test-migrations = "==1.2.0"
factory-boy = "==3.2.1"
flake8 = "==4.0.1"
flake8-black = "==0.3.3"
flake8-docstrings = "==1.6.0"
flake8-isort = "==4.1.1"
ipython = "==8.4.0"
isort = "==5.10.1"
mypy = "*"
pytest = "==7.2.1"
pytest-asyncio = "==0.20.3"
pytest-celery = "==0.0.0"
pytest-django = "==4.5.2"

[packages]
celery = {extras = ["redis"], version = "==5.2.7"}
channels = {version = "==4.0.0", extras = ["daphne"]}
channels-redis = "==4.0.0"
dj-database-url = "==0.5.0"
django = "==4.1.7"
django-anymail = {extras = ["mailgun"], version = "==8.6"}
django-celery-results = "==2.4.0"
django-cloudinary-storage = "==0.3.0"
django-cors-headers = "==3.13.0"
django-debug-toolbar = "==3.5.0"
django-extensions = "3.2.0"
django-ordered-model = "==3.6"
django-pgtrigger = "==2.4.1"
djangorestframework = "==3.14.0"
gunicorn = "==20.1.0"
newrelic = "==7.14.0.177"
pillow = ">=9.2.0"
psycopg2 = "==2.9.3"
python-dotenv = "==0.20.0"
redis = "==4.5.4"
rules = "==3.3"
strawberry-graphql = "==0.119.0"
strawberry-graphql-django = "==0.4.0"
stripe = "==3.5.0"
tqdm = "==4.64.0"
uvicorn = "==0.17.6"
websockets = "==10.3"
whitenoise = "==6.2.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
