[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
graphene-django = "*"
factory-boy = "*"
pytest-django = "*"
python-dotenv = "*"
dj-database-url = "*"
psycopg2 = "*"
django-extensions = "*"
tqdm = "*"
django-cors-headers = "*"

[requires]
python_version = "3.9"
