{# SPDX-FileCopyrightText: 2025-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load static %}
{% load i18n %}
{% load projectify %}
<nav aria-label="{% translate "Dashboard header" %}"
     class="flex flex-col md:items-center justify-between border-b-2 border-border bg-foreground px-6 py-4 md:flex-row gap-y-2 gap-x-4">
    <a href="{% url "dashboard:dashboard" %}" class="shrink">
        <img src="{% static "polylogo.svg" %}"
             width="171"
             height="36"
             alt="Go to dashboard">
    </a>
    <div class="grow"></div>
    {% if task_filter_form %}
        <form id="task-filter"
              role="search"
              title="{% translate "Task search form" %}"
              class="shrink-0 flex max-w-md flex-row gap-2 items-center">
            <label for="{{ task_filter_form.task_search_query.id_for_label }}"
                   class="sr-only">{% translate "Task search" %}</label>
            {{ task_filter_form.task_search_query }}
            {% include "projectify/forms/submit.html" with small=True text=_("Search") %}
        </form>
    {% endif %}
    <div class="flex shrink-0 flex-row items-center gap-2">
        {% if user.is_authenticated %}
            {% anchor "dashboard:dashboard" _("Go to dashboard") %}
            {% anchor "users:log-out" _("Log out") %}
            {% anchor "users:profile" _("Profile") %}
        {% else %}
            {% anchor "users:log-in" _("Log in") %}
        {% endif %}
    </div>
</nav>
