{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load static %}
{% load i18n %}
<nav class="flex-row items-center justify-between border-b-2 border-border bg-foreground px-6 py-4 md:flex">
    <div class="flex flex-row items-center gap-4">
        <a href="{% url "storefront:landing" %}" class="shrink">
            <img src="{% static "polylogo.svg" %}"
                 width="171"
                 height="36"
                 alt="Projectify">
        </a>
        <div class="flex flex-row gap-2">
            <a href="{% url "storefront:solutions:list" %}"
               class="text-base-content font-bold flex flex-row items-center gap-2 rounded-lg p-2 hover:text-primary active:text-primary">{% trans "Solutions" %}</a>
            <a href="{% url "storefront:pricing" %}"
               class="text-base-content font-bold flex flex-row items-center gap-2 rounded-lg p-2 hover:text-primary active:text-primary">{% trans "Pricing" %}</a>
            <a href="{% url "help:list" %}"
               class="text-base-content font-bold flex flex-row items-center gap-2 rounded-lg p-2 hover:text-primary active:text-primary">{% trans "Help" %}</a>
        </div>
    </div>
    <div class="flex shrink-0 flex-row items-center gap-2">
        {% if user.is_authenticated %}
            <a href="{% url "dashboard:dashboard" %}"
               class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">{% trans "Continue to dashboard" %}</a>
        {% else %}
            <a href="{% url "users:log-in" %}"
               class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Log in" %}</a>
        {% endif %}
    </div>
</nav>
