DJANGO_SETTINGS_MODULE = projectify.settings.development
DJANGO_CONFIGURATION = Development
DATABASE_URL=postgres://$USER@localhost/projectify
# If unix socket, choose something like this:
# DATABASE_URL = postgres://%2Fvar%2Flib%2Fpostgresql/dbname
REDIS_TLS_URL = redis://localhost:6379/0
