{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "onboarding_base.html" %}
{% load i18n %}
{% block onboarding_content %}
    <form action=""
          method="POST"
          class="col-span-1 flex shrink grow flex-col gap-16 px-12 py-20 pb-8">
        {% csrf_token %}
        {% include "onboarding/common/form_description.html" with title="About you" text_1="Tell us your preferred name. You can also keep it empty and continue by clicking the button below." %}
        <div class="flex flex-col">
            <div class="flex flex-col items-start gap-2">{{ form }}</div>
            {% if form.errors %}<p>{{ form.errors }}</p>{% endif %}
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex gap-2">
                <button type="submit"
                        class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">
                    {% trans "Continue" %}
                </button>
            </div>
        </div>
    </form>
    <div class="hidden h-full min-w-0 shrink grow flex-col items-center justify-center overflow-hidden bg-background md:flex xl:col-span-2">
        <h1 class="w-full overflow-hidden text-ellipsis text-center text-4xl font-bold">{% trans "Welcome👋" %}</h1>
    </div>
{% endblock onboarding_content %}
