{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2024-2025 JWP Consulting GK #}
{% load i18n %}
{% load projectify %}
{% if empty_formset %}
    <div data-formset
         class="flex w-full flex-row items-center justify-between gap-2 px-2 py-1">
        <div class="flex grow flex-row items-center gap-2">
            <label for="{{ empty_formset.done.id_for_label }}" class="sr-only">{{ empty_formset.done.label }}</label>
            {{ empty_formset.done }}
            <div class="grow">
                <label for="{{ empty_formset.title.id_for_label }}" class="sr-only">{{ empty_formset.title.label }}</label>
                <div class="flex flex-col items-start gap-2">
                    <div class="flex w-full flex-row items-center gap-2">{{ empty_formset.title }}</div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden"
           name="form-TOTAL_FORMS"
           value="{{ formset_total }}"
           id="id_form-TOTAL_FORMS">
    <div id="subtasks-empty-state"></div>
{% endif %}
<div id="add-subtask" class="flex flex-row items-center gap-6">
    <button type="button"
            hx-select-oob="#id_form-TOTAL_FORMS,#add-subtask,#subtasks-empty-state:delete"
            hx-trigger="click"
            hx-target="#subtasks"
            hx-select="[data-formset]"
            hx-swap="beforeend"
            hx-get="{% url 'dashboard:tasks:create-task-sub-task' formset_total %}"
            class="w-full text-tertiary-content hover:text-tertiary-content-hover active:bg-tertiary-pressed active:text-tertiary-content-hover text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-transparent disabled:text-disabled-content">
        <div class="h-6 w-6">{% icon "plus" "primary" %}</div>
        {% translate "Add sub task" %}
    </button>
</div>
