{# SPDX-FileCopyrightText: 2025-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load projectify %}
{% load i18n %}
<div class="font-bold text-utility">
    {% anchor "dashboard:projects:detail" title=_("Project link") label=section.project.title project_uuid=section.project.uuid %}
    <span aria-hidden="true">&gt;</span>
    {% anchor href=section.get_absolute_url title=_("Section link") label=section.title %}
    <span aria-hidden="true">&gt;</span>
    {% if current_page_label and current_page_url %}
        {% anchor href=current_page_url label=current_page_label %}
    {% else %}
        {% anchor "dashboard:tasks:detail" aria_label=task.title label=task.title task_uuid=task.uuid %}
    {% endif %}
</div>
