{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{% load i18n %}
<form role="search"
      hx-boost="true"
      title="{% translate "Workspace search form" %}"
      action="{% url 'dashboard:workspaces:search' workspace_uuid=workspace.uuid %}"
      class="shrink-0 flex max-w-md flex-row gap-2 items-center">
    <label for="{{ form.query.id_for_label }}" class="sr-only">{{ form.query.label }}</label>
    {{ form.query }}
    {% include "projectify/forms/submit.html" with small=True text=_("Search") %}
</form>
