{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{% extends "base.html" %}
{% load projectify %}
{% load i18n %}
{% block title %}
    {% trans "Permission denied" %} - Projectify
{% endblock title %}
{% block body %}
    {% include "common/navigation/header/landing.html" %}
    <div class="flex grow flex-col items-center gap-12 p-20">
        <main id="main" class="flex max-w-lg flex-col gap-6">
            <h1 class="text-5xl font-bold">{% trans "Permission denied" %}</h1>
            <p>
                {% blocktranslate %}You don't have the permission required to perform view a page or perform an action. Please make sure that you're opening the right address. Ask your workspace owner for help if you need permission to change something in your workspace.{% endblocktranslate %}
            </p>
            <p>
                {% anchor "storefront:contact-us" _("contact us") as contact_us_anchor %}
                {% blocktranslate with contact_us_anchor=contact_us_anchor %}
                Please load this form again and submit it one more time. If this problem keeps happening, please {{ contact_us_anchor }}.
                {% endblocktranslate %}
            </p>
            {% anchor "/" _("Go back home") %}
        </main>
    </div>
    {% include "common/footer.html" %}
{% endblock body %}
