<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<!-- SPDX-FileCopyrightText: 2026 JWP Consulting GK -->
{% extends "base.html" %}
{% load projectify %}
{% load i18n %}
{% block title %}
    {% trans "Page Not Found" %} - Projectify
{% endblock title %}
{% block body %}
    {% include "common/navigation/header/landing.html" %}
    <div class="flex grow flex-col items-center gap-12 p-20">
        <main id="main" class="flex max-w-lg flex-col gap-6">
            <h1 class="text-5xl font-bold">{% trans "Page not found" %}</h1>
            {% picture src="status404Image.png" alt=_("Illustration of Poly the mascot looking lost") klass="max-w-sm" %}
            <p>{% trans "The page you're looking for doesn't exist. Maybe there is a typo in the URL you meant to visit?" %}</p>
            <p>
                {% trans "If you have difficulties using the Projectify application, or would like to report a problem, please contact us:" %}
            </p>
            {% anchor "/" _("Go Back Home") %}
        </main>
    </div>
    {% include "common/footer.html" %}
{% endblock body %}
