{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{% extends "base.html" %}
{% load projectify %}
{% load i18n %}
{% block title %}
    {% trans "Too many requests" %} - Projectify
{% endblock title %}
{% block body %}
    {% include "common/navigation/header/landing.html" %}
    <div class="flex grow flex-col items-center gap-12 p-20">
        <main id="main" class="flex max-w-lg flex-col gap-6">
            <h1 class="text-5xl font-bold">{% trans "Too many requests" %}</h1>
            <p>
                {% blocktranslate %}You're making too many requests to Projectify. Please slow down, wait a moment, and try again later.{% endblocktranslate %}
            </p>
            <p>
                {% anchor "storefront:contact-us" _("contact us") as contact_us_anchor %}
                {% blocktranslate with contact_us_anchor=contact_us_anchor %}
                Please {{ contact_us_anchor }} if you see frequently this page.
                {% endblocktranslate %}
            </p>
            {% anchor "/" _("Go back home") %}
        </main>
    </div>
    {% include "common/footer.html" %}
{% endblock body %}
