{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2024-2026 JWP Consulting GK #}
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load projectify %}
{% block content %}
    <a href="#skip-to-content" class="sr-only">{% translate "Skip to main content" %}</a>
    <div class="flex min-h-screen grow flex-col">
        {% include "common/navigation/header/dashboard.html" %}
        <div class="flex min-h-0 shrink grow flex-col md:flex-row">
            <nav class="max-w-full md:max-w-xs 2xl:max-w-md h-full shrink-0 flex flex-col py-4">
                {% if workspace %}
                    <details name="workspace-select" class="min-w-0 grow w-full px-4 pb-4 ">
                        <summary class="flex items-center gap-2 hover:bg-secondary-hover font-bold border rounded cursor-pointer p-2">
                            {% icon "briefcase" size=4 %}
                            <span class="truncate">{{ workspace.title }}</span>
                        </summary>
                        <ul class="flex flex-col max-h-40 overflow-y-auto">
                            <li class="flex items-center gap-2 border-b">
                                <a href="{% url 'dashboard:workspaces:settings' workspace.uuid %}"
                                   class="flex w-full flex-row items-center gap-2 px-4 py-2 hover:bg-secondary-hover active:bg-disabled disabled:active:bg-secondary-hover text-base-content">
                                    {% icon "cog" size=4 %}
                                    {% trans "Workspace Settings" %}
                                </a>
                            </li>
                            {% for w in workspaces %}
                                <li>
                                    <a href="{% url "dashboard:workspaces:detail" w.uuid %}"
                                       class="flex w-full flex-row items-center gap-2 px-4 py-2 hover:bg-secondary-hover active:bg-disabled disabled:active:bg-secondary-hover text-base-content">
                                        {% icon "briefcase" size=4 %}
                                        <span class="truncate">{{ w.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </details>
                {% endif %}
                <p class="px-4">
                    <strong>{% trans "Trial workspace" %}</strong>
                    {% anchor href="help:topic:billing" label=_("Learn more") external=True %}
                </p>
                {% block dashboard_projects %}
                    {% include "workspace/common/sidemenu/project_details.html" %}
                {% endblock dashboard_projects %}
            </nav>
            <div id="skip-to-content" class="contents">
                {% block dashboard_content %}
                {% endblock dashboard_content %}
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
{% endblock content %}
