# SPDX-FileCopyrightText: 2024-2026 JWP Consulting GK
#
# SPDX-License-Identifier: AGPL-3.0-or-later

version: 2.1
orbs:
  cli: circleci/circleci-cli@0.1.9
executors:
  node:
    docker:
       - image: cimg/node:lts
  python:
    docker:
      - image: python:3.12.12
        environment:
          DJANGO_SETTINGS_MODULE: projectify.settings.test
          DJANGO_CONFIGURATION: Test
          DATABASE_URL: "postgres://projectify:projectify@localhost:5432/projectify"
  python_and_postgres:
    docker:
      - image: python:3.12.12
        environment:
          DJANGO_SETTINGS_MODULE: projectify.settings.test
          DJANGO_CONFIGURATION: Test
          DATABASE_URL: "postgres://projectify:projectify@localhost:5432/projectify"
      - image: postgres:15.5
        environment:
          POSTGRES_DB: projectify
          POSTGRES_USER: projectify
          POSTGRES_PASSWORD: projectify
commands:
  prepare_uv:
    description: Install dependencies for backend
    steps:
      - checkout:
          path: ~/projectify
      - restore_cache:
          keys:
            - uv-cache-v1-{{ checksum "~/projectify/uv.lock" }}
      - run:
          name: Install uv
          command: pip install uv
      - run:
          name: Install dependencies
          command: uv sync --group=test
      # https://docs.astral.sh/uv/concepts/cache/#caching-in-continuous-integration
      - run:
          name: Prune cache
          command: uv cache prune --ci
      - save_cache:
          key: uv-cache-v1-{{ checksum "~/projectify/uv.lock" }}
          paths:
            - ~/.cache/uv
  prepare_npm:
    description: Install NPM packages
    steps:
      - checkout:
            path: ~/projectify
      - restore_cache:
            key: npm-cache-v2-{{ checksum "~/projectify/theme/static_src/package-lock.json" }}
      - run:
            name: npm clean-install
            command: npm clean-install
      - save_cache:
            key: npm-cache-v2-{{ checksum "~/projectify/theme/static_src/package-lock.json" }}
            paths:
                - ~/.npm
                - node_modules
jobs:
  backend_uv_check:
    executor: python
    working_directory: ~/projectify
    steps:
      - prepare_uv
      - run:
          name: UV check and update requirements
          command: bin/update-requirements
  backend_lint:
    executor: python
    working_directory: ~/projectify
    steps:
      - prepare_uv
      - run:
          name: Run ruff format
          command: uv run ruff format --check .
      - run:
          name: Run ruff
          command: uv run ruff check .
  backend_djlint:
    executor: python
    working_directory: ~/projectify
    steps:
      - prepare_uv
      - run:
          name: Run djlint --check
          command: uv run djlint --check .
      - run:
          name: Run djlint --lint
          command: uv run djlint --lint .
  backend_mypy:
    executor: python
    working_directory: ~/projectify
    steps:
      - prepare_uv
      - run:
          name: Run mypy
          command: uv run mypy .
  backend_pyright:
    executor: python
    working_directory: ~/projectify
    steps:
      - prepare_uv
      - run:
          name: Run pyright
          command: uv run pyright .
  backend_collectstatic:
    executor: python
    working_directory: ~/projectify
    steps:
      - prepare_uv
      - run:
          name: Run collectstatic
          command: uv run ./manage.py collectstatic --noinput
          environment:
            DJANGO_CONFIGURATION: TestCollectstatic
  backend_tests:
    executor: python_and_postgres
    # TODO change to
    # working_directory: ~/projectify
    working_directory: ~/projectify
    parallelism: 8
    steps:
      - prepare_uv
      - run:
          name: Create junit folder
          command: mkdir junit
      - cli/install
      - run:
          name: Collect tests and run pytest
          command: |
            TEST_FILES=$(circleci tests glob "projectify/**/test_*.py" | circleci tests split --split-by=timings)
            uv run pytest --junitxml=test-results/junit.xml $TEST_FILES
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
  backend_seeddb:
    executor: python_and_postgres
    working_directory: ~/projectify
    steps:
      - prepare_uv
      - run:
          name: Migrate
          command: uv run ./manage.py migrate
      - run:
          name: Seed DB
          command: uv run ./manage.py seeddb --n-users 3 --n-workspaces 1 --n-projects 1 --n-labels 1 --n-tasks 1
  frontend_tailwind_check:
    executor: node
    working_directory: ~/projectify
    steps:
      - prepare_npm
      - run:
          name: Build Tailwind CSS
          command: bin/build-tailwind-styles
  tools_reuse_lint:
    executor: python
    working_directory: ~/projectify
    steps:
      - prepare_uv
      - run:
          name: UV check
          command: uv tree --quiet
      - run:
          name: Run reuse lint
          command: uv run reuse lint
workflows:
  test_all:
    jobs:
      - backend_uv_check
      - backend_lint
      - backend_djlint
      - backend_mypy
      - backend_pyright
      - backend_tests
      - backend_seeddb
      - backend_collectstatic
      - frontend_tailwind_check
      - tools_reuse_lint
