# SPDX-FileCopyrightText: 2024-2026 JWP Consulting GK
#
# SPDX-License-Identifier: AGPL-3.0-or-later

version: 2.1
orbs:
  cli: circleci/circleci-cli@0.1.9
executors:
  node:
    docker:
       - image: cimg/node:lts
  python:
    docker:
      - image: python:3.12.7
        environment:
          DJANGO_SETTINGS_MODULE: projectify.settings.test
          DJANGO_CONFIGURATION: Test
          DATABASE_URL: "postgres://projectify:projectify@localhost:5432/projectify"
  python_and_postgres:
    docker:
      - image: python:3.12.7
        environment:
          DJANGO_SETTINGS_MODULE: projectify.settings.test
          DJANGO_CONFIGURATION: Test
          DATABASE_URL: "postgres://projectify:projectify@localhost:5432/projectify"
      - image: postgres:15.5
        environment:
          POSTGRES_DB: projectify
          POSTGRES_USER: projectify
          POSTGRES_PASSWORD: projectify
commands:
  prepare_poetry:
    description: Install dependencies for backend
    steps:
      - checkout:
          path: ~/projectify
      - restore_cache:
          keys:
            - poetry-cache-v1-{{ checksum "~/projectify/poetry.lock" }}
      - run:
          name: Create venv
          command: python3 -m venv ~/.local/share/poetry
      - run:
          name: Install pip and setuptools
          command: ~/.local/share/poetry/bin/pip install -U pip setuptools
      - run:
          name: Install poetry
          command: ~/.local/share/poetry/bin/pip install poetry
      - run:
          name: Link poetry (XXX hack)
          command: ln -sv ~/.local/share/poetry/bin/poetry /usr/local/bin
      - run:
          name: Install pip packages
          command: poetry install --all-extras --no-root
      - save_cache:
          key: poetry-cache-v1-{{ checksum "~/projectify/poetry.lock" }}
          paths:
            - ~/.local
            - ~/.cache
  prepare_npm:
    description: Install NPM packages
    steps:
      - checkout:
            path: ~/projectify
      - restore_cache:
            key: npm-cache-v2-{{ checksum "~/backend/projectify/theme/static_src/package-lock.json" }}
      - run:
            name: npm clean-install
            command: npm clean-install
      - save_cache:
            key: npm-cache-v2-{{ checksum "~/backend/projectify/theme/static_src/package-lock.json" }}
            paths:
                - ~/.npm
                - node_modules
jobs:
  backend_poetry_check:
    executor: python
    working_directory: ~/projectify/backend
    steps:
      - prepare_poetry
      - run:
          name: Poetry check and update requirements
          command: bin/update-requirements
  backend_lint:
    executor: python
    working_directory: ~/projectify/backend
    steps:
      - prepare_poetry
      - run:
          name: Run ruff format
          command: poetry run ruff format --check .
      - run:
          name: Run ruff
          command: poetry run ruff check .
  backend_djlint:
    executor: python
    working_directory: ~/projectify/backend
    steps:
      - prepare_poetry
      - run:
          name: Run djlint --check
          command: poetry run djlint --check .
      - run:
          name: Run djlint --lint
          command: poetry run djlint --lint .
  backend_mypy:
    executor: python
    working_directory: ~/projectify/backend
    steps:
      - prepare_poetry
      - run:
          name: Run mypy
          command: poetry run mypy .
  backend_pyright:
    executor: python
    working_directory: ~/projectify/backend
    steps:
      - prepare_poetry
      - run:
          name: Run pyright
          command: poetry run pyright .
  backend_collectstatic:
    executor: python
    working_directory: ~/projectify/backend
    steps:
      - prepare_poetry
      - run:
          name: Run collectstatic
          command: poetry run ./manage.py collectstatic --noinput
          environment:
            DJANGO_CONFIGURATION: TestCollectstatic
  backend_tests:
    executor: python_and_postgres
    working_directory: ~/projectify/backend
    parallelism: 8
    steps:
      - prepare_poetry
      - run:
          name: Create junit folder
          command: mkdir junit
      - cli/install
      - run:
          name: Collect tests and run pytest
          command: |
            TEST_FILES=$(circleci tests glob "**/test_*.py" | circleci tests split --split-by=timings)
            poetry run pytest --junitxml=test-results/junit.xml $TEST_FILES
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
  backend_seeddb:
    executor: python_and_postgres
    working_directory: ~/projectify/backend
    steps:
      - prepare_poetry
      - run:
          name: Migrate
          command: poetry run ./manage.py migrate
      - run:
          name: Seed DB
          command: poetry run ./manage.py seeddb --n-users 3 --n-workspaces 1 --n-projects 1 --n-labels 1 --n-tasks 1
  frontend_tailwind_check:
    executor: node
    working_directory: ~/projectify
    steps:
      - prepare_npm
      - run:
          name: Build Tailwind CSS
          command: bin/build-tailwind-styles
  tools_reuse_lint:
    executor: python
    working_directory: ~/projectify/tools
    steps:
      - prepare_poetry
      - run:
          name: Poetry check
          command: poetry check
      - run:
          name: Run reuse lint
          command: poetry run reuse lint
workflows:
  test_all:
    jobs:
      - backend_poetry_check
      - backend_lint
      - backend_mypy
      - backend_pyright
      - backend_tests
      - backend_seeddb
      - backend_collectstatic
      - frontend_tailwind_check
      - tools_reuse_lint
