{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load i18n %}
<fieldset class="flex flex-col gap-4">
    <legend class="font-bold">{% translate "Color:" %}</legend>
    <div class="flex flex-col gap-2">
        {% for color_value, color_info in color_map.items %}
            <label class="flex items-center gap-2 cursor-pointer">
                <input type="radio"
                       required
                       name="color"
                       value="{{ color_value }}"
                       {% if form.color.value == color_value %}checked{% endif %}
                       class="peer">
                <div class="w-6 h-6 rounded border {{ color_info.bg_class }} {{ color_info.border_class }}"></div>
                <span>{{ color_info.name }}</span>
            </label>
        {% endfor %}
    </div>
    {% if form.color.errors %}
        <div class="text-red-600">
            {% for error in form.color.errors %}<div>{{ error }}</div>{% endfor %}
        </div>
    {% endif %}
</fieldset>
