{# SPDX-FileCopyrightText: 2024-2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "storefront_base.html" %}
{% load static %}
{% load markdownify %}
{% load i18n %}
{% block title %}
    {% translate "Accessibility statement - Projectify" %}
{% endblock title %}
{% block storefront_content %}
    <main class="flex flex-col items-center gap-10 bg-foreground pb-20">
        <div class="flex w-full flex-col items-center bg-background">
            <div class="w-full max-w-4xl px-6 py-6 sm:py-12">
                <header class="flex w-full flex-col items-center gap-4 sm:grid sm:grid-cols-2">
                    <div class="flex flex-col gap-8 text-center font-bold sm:text-left">
                        <h1 class="text-4xl lg:text-6xl">{% trans "Accessibility statement" %}</h1>
                    </div>
                    <div class="w-full max-w-xs justify-self-center">
                        <picture>
                            {# TODO: Add proper static assets #}
                            <img src="{% static "hero-accessibility.png" %}"
                                 alt="{% trans "Accessibility logo" %}"
                                 width="300"
                                 height="300">
                        </picture>
                    </div>
                </header>
            </div>
        </div>
        <div class="w-full p-6 max-w-4xl">
            <main class="prose">
                {{ markdowntext|markdownify }}
            </main>
        </div>
    </main>
{% endblock storefront_content %}
