<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<!-- SPDX-FileCopyrightText: 2025 JWP Consulting GK -->
{% extends "storefront_base.html" %}
{% load markdownify %}
{% block storefront_content %}
    <main class="flex flex-col items-center gap-10 bg-foreground pb-20">
        {% include "storefront/header/storefront_header.html" with title="Credits and attribution" %}
        <div class="w-full p-6 max-w-4xl">
            <div class="prose">
                <!--TODO: Load markdown-->
            </div>
        </div>
    </main>
{% endblock storefront_content %}
