{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "storefront_base.html" %}
{% load markdownify %}
{% load projectify %}
{% load i18n %}
{% load static %}
{% block title %}
    {% translate "Download - Projectify" %}
{% endblock title %}
{% block storefront_content %}
    <main class="flex flex-col items-center gap-10 bg-foreground pb-20">
        {% include "storefront/common/storefront_header.html" with title=_("Download and install Projectify") %}
        <div class="w-full p-6 max-w-4xl flex flex-row items-center justify-center prose">
            <div class="prose">{{ markdowntext|markdownify }}</div>
        </div>
    </main>
{% endblock storefront_content %}
