{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "storefront_base.html" %}
{% load markdownify %}
{% block storefront_content %}
    <main class="flex flex-col items-center gap-10 bg-foreground pb-20">
        {% include "storefront/common/storefront_header.html" with title="Free Software and License Information" %}
        <div class="w-full p-6 max-w-4xl">
            <div class="prose">
                <p>Projectify project management software is created by:</p>
                <ul>
                    <li>Copyright 2021-2024 JWP Consulting GK</li>
                </ul>
                {{ markdowntext|markdownify }}
            </div>
        </div>
    </main>
{% endblock storefront_content %}
