{# SPDX-FileCopyrightText: 2024-2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "storefront_base.html" %}
{% load markdownify %}
{% load i18n %}
{% block title %}
    {% translate "Free software - Projectify" %}
{% endblock title %}
{% block storefront_content %}
    <main class="flex flex-col items-center gap-10 bg-foreground pb-20">
        {% trans "Free Software and License Information" as title %}
        {% include "storefront/common/storefront_header.html" with title=title %}
        <div class="w-full p-6 max-w-4xl">
            <div class="prose">
                <p>{% trans "Projectify project management software is created by:" %}</p>
                <ul>
                    <li>{% trans "Copyright 2021-2024 JWP Consulting GK" %}</li>
                </ul>
                {{ markdowntext|markdownify }}
            </div>
        </div>
    </main>
{% endblock storefront_content %}
