<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<!-- SPDX-FileCopyrightText: 2025 JWP Consulting GK -->
{% extends "storefront_base.html" %}
{% load markdownify %}
{% block storefront_content %}
    <main class="flex flex-col items-center gap-10 bg-foreground pb-20 pt-10">
        <div class="flex w-full max-w-5xl grow flex-col gap-4 bg-foreground p-6 sm:flex-row sm:gap-8">
            <nav slot="side" class="flex max-w-xs grow flex-col gap-2">
                <p id="top" class="font-bold">Privacy Policy</p>
                <ol class="list-inside list-disc">
                    <li>
                        <a href="#japanese"
                           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">Japanese Privacy Policy (original)</a><!--<Anchor>-->
                    </li>
                    <li>
                        <a href="#english"
                           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">English Privacy Policy (translation)</a><!--<Anchor>-->
                    </li>
                    <li>
                        <a href="#japanese-gdpr"
                           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">Japanese GDPR Privacy Policy (original)</a><!--<Anchor>-->
                    </li>
                    <li>
                        <a href="#english-gdpr"
                           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">English GDPR Privacy Policy (translation)</a><!--<Anchor>-->
                    </li>
                </ol>
            </nav>
            <div class="flex flex-col gap-10">
                <div class="prose">
                    <!--TODO: Load markdown-->
                </div>
            </div>
        </main>
    </div>
{% endblock storefront_content %}
