# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2026 JWP Consulting GK
[server]
http_addr = 127.0.0.1
http_port = 3000

[auth.anonymous]
enabled = false

[auth.basic]
enabled = true
password_policy = true

[log]
mode = console file
level = info
