{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_base.html" %}
{% load i18n %}
{% block user_content %}
    <div class="flex flex-col gap-12 p-3">
        {% if email_error or token_error %}
            <h1 class="text-center text-4xl font-bold">{% trans "Error while confirming email address" %}</h1>
            <div class="flex flex-col gap-6">
                <p class="text-center">{% trans "Unfortunately your email address could not be confirmed." %}</p>
                {% if email_error %}
                    <p class="text-center">{% blocktrans %}Error with email address: {{ email_error }}{% endblocktrans %}</p>
                {% endif %}
                {% if token_error %}
                    <p class="text-center">{% blocktrans %}Error with token: {{ token_error }}{% endblocktrans %}</p>
                {% endif %}
                <a href="/contact-us"
                   class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">
                    {% trans "Contact support" %}
                </a>
            </div>
        {% else %}
            <h1 class="text-center text-4xl font-bold">{% trans "Email address confirmed" %}</h1>
            <div class="flex flex-col gap-6">
                <p class="text-center">{% trans "Your email address was confirmed successfully. You may now proceed to log in." %}</p>
                <a href="{% url "users-django:log-in" %}"
                   class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">
                    {% trans "Continue to log in" %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock user_content %}
