{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_profile_base.html" %}
{% load i18n %}
{% block user_profile_content %}
    <h1 class="text-center text-2xl font-bold">{% translate "Change password" %}</h1>
    <form class="flex w-full flex-col gap-10" method="post">
        {% csrf_token %}
        <div class="flex flex-col gap-4">
            {{ form.current_password.as_field_group }}
            {{ form.new_password.as_field_group }}
            {{ form.new_password_confirm.as_field_group }}
            <header class="font-bold">
                {% trans "Rules for choosing a safe password:" %}
            </header>
            <ul class="flex list-inside list-disc flex-col gap-0.5">
                {% for rule in validators %}<li>{{ rule }}</li>{% endfor %}
            </ul>
        </div>
        <div class="flex flex-row gap-2">
            <a href="{% url "users-django:profile" %}"
               class="w-full text-secondary-content hover:bg-secondary-hover hover:text-secondary-content-hover active:bg-secondary-pressed active:text-secondary-content-hover text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content"> Go back </a><!--<button>-->
            <button type="submit"
                    class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">
                {% translate "Change password" %}
            </button>
        </div>
    </form>
{% endblock user_profile_content %}
