{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Password reset requested - Projectify" %}
{% endblock title %}
{% block user_content %}
    <div class="flex flex-col gap-12 p-3">
        <h1 class="text-center text-4xl font-bold">{% translate "Password reset requested" %}</h1>
        <div class="flex flex-col gap-6">
            <p class="text-center">
                {% translate "You have requested for your password to be reset and will receive an email with password reset instructions soon. Please check your email inbox." %}
            </p>
            <p class="text-center">
                {% translate "If you do not receive any email, you can request a new password email to be sent by using the email. Please contact support if you have any questions." %}
            </p>
            <div class="text-center">
                <a href="{% url "users-django:request-password-reset" %}"
                   class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% translate "Request password reset again" %}</a>
            </div>
        </div>
    </div>
{% endblock user_content %}
