{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{% extends "base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Debug Error Pages" %}
{% endblock title %}
{% block body %}
    <main id="main" class="mx-auto prose">
        <h1>{% translate "Debug Error Pages" %}</h1>
        <ul>
            {% for url, label in error_pages %}
                <li>{% anchor href=url label=label %}</li>
            {% endfor %}
        </ul>
        {% anchor label=_("Back to landing") href="storefront:landing" %}
    </main>
{% endblock body %}
