{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
<section data-section class="flex flex-col" id={{ section.uuid }}>
    <header class="sticky top-0 flex w-full flex-row items-center justify-between bg-foreground px-4 py-2">
        <div data-figma-name="Section header"
             class="flex min-w-0 shrink flex-row gap-4 text-base-content">
            <button>
                <svg fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="100%"
                     height="100%"
                     class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
                <div class="sr-only">Collapse section</div>
            </button>
            <h1 class="line-clamp-1 min-w-0 shrink font-bold">{{ section.title }}</h1>
        </div>
        <div class="flex shrink-0 flex-row items-center gap-1"
             data-figma-name="Right side">
            <a href="{% url "dashboard:sections:create-task" section.uuid %}"
               class="w-full text-tertiary-content hover:text-tertiary-content-hover active:bg-tertiary-pressed active:text-tertiary-content-hover text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-transparent disabled:text-disabled-content">
                <svg fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="100%"
                     height="100%"
                     class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                </svg>
                Add task </a><!--<button>-->
                <div>
                    <button aria-label="Open section context menu"
                            class="focus:base-content relative h-8 w-8 rounded-lg border border-transparent p-1 focus:border-base-content focus:outline-none active:text-display enabled:hover:bg-secondary-hover enabled:active:bg-primary text-base-content">
                        <svg fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             width="100%"
                             height="100%">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                            </path>
                        </svg>
                    </button>
                    <!--<SquovalIcon>-->
                </div>
            </div>
        </header>
        <table class="flex flex-col gap-2 rounded-b-2xl bg-foreground p-4 lg:grid lg:grid-cols-[8fr_3fr_max-content] lg:gap-4">
            {% for task in section.task_set.all %}
                <tr class="flex w-full flex-col items-center gap-1 rounded-lg border border-border p-3 lg:contents">
                    <td class="contents">{{ task.title }}</td>
                    <td class="contents">
                        <button class="flex flex-row items-center self-start rounded-full px-4 py-1 font-bold text-primary outline-dashed outline-1 outline-primary focus:outline focus:outline-inherit">
                            Assign label
                        </button>
                        <!--<Labels>-->
                    </td>
                    <td class="flex flex-row items-center justify-end gap-2 self-end">
                        <div class="flex shrink-0 flex-row items-center gap-2 px-2 py-1"></div>
                        <!--<SubTaskProgress>-->
                        <div class="flex flex-row items-center gap-2">
                            <button>
                                <div class="flex flex-row h-6 w-6 items-center rounded-full border border-primary bg-background"></div>
                                <!--<AvatarVariant>-->
                                <div class="sr-only">Currently not assigned. Activate to assign to team member.</div>
                            </button>
                            <!--<TeamMember>-->
                            <div class="flex flex-row items-center">
                                <div class="flex flex-row items-center gap-1">
                                    <form hx-target="closest [data-section]"
                                          hx-post="{% url 'dashboard:tasks:move' task.uuid %}"
                                          action="{% url 'dashboard:tasks:move' task.uuid %}"
                                          method="post">
                                        <button name="up"
                                                value="up"
                                                type="submit"
                                                aria-label="Move task up"
                                                disabled=""
                                                class="w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background disabled:bg-transparent disabled:text-disabled">
                                            <svg fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor"
                                                 aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 width="100%"
                                                 height="100%">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                                            </svg>
                                        </button>
                                        <!--<CircleIcon>-->
                                        <button aria-label="Move task down"
                                                name="down"
                                                value="down"
                                                type="submit"
                                                class="w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background disabled:bg-transparent disabled:text-disabled">
                                            <svg fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor"
                                                 aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 width="100%"
                                                 height="100%">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                            </svg>
                                        </button>
                                        <!--<CircleIcon>-->
                                        {% csrf_token %}
                                        <p class="htmx-indicator">saving...</p>
                                    </form>
                                </div>
                                <!--<Chevrons>-->
                                <div>
                                    <button aria-label="Open context menu"
                                            class="w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background disabled:bg-transparent disabled:text-disabled">
                                        <svg fill="none"
                                             viewBox="0 0 24 24"
                                             stroke="currentColor"
                                             aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="100%"
                                             height="100%">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                                            </path>
                                        </svg>
                                    </button>
                                    <!--<CircleIcon>-->
                                </div>
                                <!--<MenuButton>-->
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <!--<TaskCard>-->
        </table>
    </section>
