Section: {{ section.title }}
Tasks:
<ol class="list-inside list-decimal">
    {% for task in section.task_set.all %}
        <li>
            {{ task.title }}
            <form hx-target="closest [data-section]"
                  hx-swap="inmerHtml"
                  hx-post="{% url 'workspace:tasks:move' task.uuid %}"
                  action="{% url 'workspace:tasks:move' task.uuid %}"
                  method="post">
                <input type="submit" name="up" value="up" />
                <input type="submit" name="down" value="down" />
                {% csrf_token %}
                <p class="htmx-indicator">saving...</p>
            </form>
        </li>
    {% endfor %}
</ol>
