{# SPDX-License-Identifier: MIT #}
{# SPDX-SnippetCopyrightText: 2022 LOGIC SMPC <paris@withlogic.co> #}
<div class="django-prose-editor-container">
    <input name="{{ widget.name }}"
        type="hidden"
        id="input-{{ widget.attrs.id }}"
        {# need to force_escape here because we're marking the value as safe #}
        {% if widget.value %}value="{{ widget.value|force_escape }}"{% endif %} />
        <trix-editor input="input-{{ widget.attrs.id }}" class="django-prose-editor trix-content prose
        {% if widget.attrs.class %}{{ widget.attrs.class }}{% endif %}
        " id="{{ widget.attrs.id }}" data-heading-blocks="{{ widget.heading_blocks }}"
        {% if widget.upload_url %}data-upload-attachment-url="{{ widget.upload_url }}"{% endif %}
        ></trix-editor>
    </div>
