{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "base.html" %}
{% block content %}
    {% if debug %}
        {% include "common/navigation/header/development_view_bar.html" %}
    {% endif %}
    <div class="flex grow flex-col">
        {% include "common/navigation/header/landing.html" %}
        <div class="flex grow flex-col">
            <div class="flex grow flex-col justify-between">
                {% block storefront_content %}
                {% endblock storefront_content %}
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
{% endblock content %}
