{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load projectify %}
<div class="grid grid-cols-[auto_1fr_auto] gap-2 items-center hover:bg-background p-2">
    <input type="radio"
           name="{{ widget.name }}"
           value="{{ widget.value }}"
           class="cursor-pointer"
           {% include "django/forms/widgets/attrs.html" %}>
    <label for="{{ widget.attrs.id }}"
           class="flex flex-1 gap-2 text-regular min-w-0 cursor-pointer">
        {% if widget.value.instance %}
            {% user_avatar widget.value.instance %}
        {% else %}
            {% user_avatar None %}
        {% endif %}
        <span class="truncate">{{ widget.label }}</span>
    </label>
    {% if widget.task_count is not None %}
        <div class="flex shrink-0 flex-row items-center gap-2 rounded-2.5xl bg-background px-2 py-0.5 text-primary group-hover:bg-foreground">
            {{ widget.task_count }}
        </div>
    {% endif %}
</div>
