{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{# SPDX-License-Identifier: BSD-3-Clause #}
{# SPDX-FileCopyrightText: Django Software Foundation and individual contributors. #}
{% with id=widget.attrs.id %}
    <div class="grid grid-cols-[auto_max-content] items-center"
         {% if id %}id="{{ id }}"{% endif %}
         {% if widget.attrs.class %}class="{{ widget.attrs.class }}"{% endif %}>
        {% for group, options, index in widget.optgroups %}
            {% if group %}
                <div class="flex items-center">
                    <label>{{ group }}</label>
                {% endif %}
                {% for option in options %}
                    {% include option.template_name with widget=option %}
                {% endfor %}
                {% if group %}</div>{% endif %}
        {% endfor %}
    </div>
{% endwith %}
