{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load static %}
<nav class="flex-row items-center justify-between border-b-2 border-border bg-foreground px-6 py-4 md:flex">
    <div class="flex flex-row items-center gap-4">
        <a href="/" class="shrink">
            <img src="{% static "polylogo.svg" %}" alt="Projectify">
        </a>
        <div class="flex flex-row gap-2">
            <a href="/solutions"
               class="text-base-content flex flex-row items-center gap-2 rounded-lg p-2 hover:text-primary active:text-primary">
                <div class="text-base font-bold">Solutions</div>
            </a>
            <a href="/pricing"
               class="text-base-content flex flex-row items-center gap-2 rounded-lg p-2 hover:text-primary active:text-primary">
                <div class="text-base font-bold">Pricing</div>
            </a><a href="/help"
   class="text-base-content flex flex-row items-center gap-2 rounded-lg p-2 hover:text-primary active:text-primary">
            <div class="text-base font-bold">Help</div>
        </a>
    </div>
</div>
<div class="flex shrink-0 flex-row items-center gap-2">
    <a href="/dashboard"
       class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content"> Continue to dashboard </a>
</div>
</nav>
