{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load static %}
{% load i18n %}
{% load projectify %}
<footer class="flex w-full gap-6 gap-8 border-t border-border p-8 flex-wrap sm:flex-row">
    <nav class="flex flex-col flex-wrap gap-12 sm:flex-row">
        <a href="/">
            <div class="flex flex-row items-center gap-2">
                <img src="{% static "polylogo.svg" %}"
                     width="171"
                     height="36"
                     alt="Projectify">
            </div>
            <div>{% trans "Project management at pace." %}</div>
        </a>
        <section class="flex flex-col gap-1">
            <h6 class="font-bold">{% trans "Product" %}</h6>
            <ul class="flex flex-col gap-2">
                <li>{% anchor "storefront:pricing" "Pricing" %}</li>
                <li>{% anchor "storefront:solutions:list" "Solutions" %}</li>
            </ul>
        </section>
        <section class="flex flex-col gap-1">
            <h6 class="font-bold">{% trans "Resources" %}</h6>
            <ul class="flex flex-col gap-2">
                <li>{% anchor "help:list" "Help and tips" external=True %}</li>
                <li>{% anchor "https://www.jwpconsulting.net/tags/projectify/" "Blog" external=True %}</li>
                <li>{% anchor "https://github.com/jwpconsulting/projectify" "GitHub Repository" external=True %}</li>
                <li>{% anchor "/download" "Download and install" %}</li>
            </ul>
        </section>
        <section class="flex flex-col gap-1">
            <h6 class="font-bold">{% trans "Company" %}</h6>
            <ul class="flex flex-col gap-2">
                <li>{% anchor "storefront:accessibility" "Accessibility statement" %}</li>
                <li>{% anchor "storefront:contact_us" "Contact us" %}</li>
                <li>{% anchor "https://www.jwpconsulting.net" "Corporate information" external=True %}</li>
            </ul>
        </section>
        <section class="flex flex-col gap-1">
            <h6 class="font-bold">{% trans "Security" %}</h6>
            <ul class="flex flex-col gap-2">
                <li>{% anchor "storefront:security:general" "General information" %}</li>
                <li>{% anchor "storefront:security:disclose" "Disclosure Policy" %}</li>
            </ul>
        </section>
        <section class="flex flex-col gap-1">
            <h6 class="font-bold">{% trans "Legal" %}</h6>
            <ul class="flex flex-col gap-2">
                <li>{% anchor "storefront:privacy" "Privacy Policy" %}</li>
                <li>{% anchor "storefront:tos" "Terms of Service" %}</li>
                <li>{% anchor "storefront:credits" "Credits" %}</li>
                <li>{% anchor "storefront:free_software" "Free Software" %}</li>
            </ul>
        </section>
    </nav>
    <section class="flex flex-col gap-4">
        <p>
            {% trans "Copyright 2021-2024 JWP Consulting GK" %}
            <br>
            {% trans "The Projectify application is free software, and you are welcome to redistribute it under certain conditions; " %}{% anchor "/free-software" "see here for details" %}
        </p>
        <p class="text-utility">
            {% trans "This version was built on 2025-05-05 from commit 3898a21a on branch feat/remove-fe-storefront-pages committed on 2025-05-05." %}
        </p>
    </section>
</footer>
