{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load projectify %}
{% partialdef provider %}
    <a href="{{ provider.href }}"
       class="w-full bg-foreground text-base-content hover:bg-task-hover active:bg-task-pressed text-base flex min-w-max flex-row justify-center items-center gap-2 rounded-lg px-4 py-2 font-bold border border-border">
        <img width="32"
             height="32"
             class="size-4"
             alt="{{ provider.alt }}"
             src="{% static provider.icon %}"
             aria-hidden="true" />
        {% trans provider.label %}
    </a>
{% endpartialdef provider %}
{% for provider in allauth_providers %}
    {% partial provider %}
{% endfor %}
