{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_profile_base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Update email address - Projectify" %}
{% endblock title %}
{% block user_profile_content %}
    <h1 class="text-center text-2xl font-bold">{% translate "Update email address" %}</h1>
    <form class="flex w-full flex-col gap-10" method="post">
        {% csrf_token %}
        <div class="flex flex-col gap-4">
            <p>{% blocktranslate with email=user.email %}Your current email address is '{{ email }}'.{% endblocktranslate %}</p>
            {{ form.new_email.as_field_group }}
            {{ form.password.as_field_group }}
        </div>
        <div class="flex flex-row gap-2">
            <a href="{% url "users:profile" %}"
               class="w-full text-secondary-content hover:bg-secondary-hover hover:text-secondary-content-hover active:bg-secondary-pressed active:text-secondary-content-hover text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content"> {% translate "Go back" %} </a>
            <button type="submit"
                    class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">
                {% translate "Update email" %}
            </button>
        </div>
    </form>
{% endblock user_profile_content %}
