{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_profile_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Update email address - Projectify" %}
{% endblock title %}
{% block user_profile_content %}
    <h1 class="text-center text-2xl font-bold">{% translate "Update email address" %}</h1>
    <form class="flex w-full flex-col gap-10" method="post">
        {% csrf_token %}
        <div class="flex flex-col gap-4">
            <p>{% blocktranslate with email=user.email %}Your current email address is '{{ email }}'.{% endblocktranslate %}</p>
            {{ form.new_email.as_field_group }}
            {{ form.password.as_field_group }}
        </div>
        <div class="flex flex-row gap-2">
            {% go_to_action href="users:profile" label=_("Go back") grow=True %}
            {% include "projectify/forms/submit.html" with text=_("Update email") %}
        </div>
    </form>
{% endblock user_profile_content %}
