{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Log in - Projectify" %}
{% endblock title %}
{% block user_content %}
    <form class="flex flex-col gap-12 p-3" method="post">
        {% csrf_token %}
        <h1 class="text-center text-4xl font-bold">{% trans "Log in" %}</h1>
        <div class="flex flex-col gap-6">
            {{ form.email.as_field_group }}
            {{ form.password.as_field_group }}
            {% include "projectify/forms/submit.html" with text="Log in" %}
            <div class="text-center">
                {% trans "Don't have an account yet?" %}
                {% anchor "users:sign-up" "Sign up here" %}
            </div>
        </div>
    </form>
{% endblock user_content %}
