{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Log in - Projectify" %}
{% endblock title %}
{% block user_content %}
    <form class="flex flex-col gap-12 p-3" method="post">
        {% csrf_token %}
        <h1 class="text-center text-4xl font-bold">{% trans "Log in" %}</h1>
        <div class="flex flex-col gap-6">
            {{ form.email.as_field_group }}
            {{ form.password.as_field_group }}
            <button type="submit"
                    class="w-full bg-primary text-primary-content hover:bg-primary-hover active:bg-primary-pressed text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-disabled disabled:text-disabled-primary-content">
                {% trans "Log in" %}
            </button>
            <div class="text-center">
                {% trans "Don't have an account yet?" %}
                <a href="{% url "users:sign-up" %}"
                   class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Sign up here" %}</a>
            </div>
        </div>
    </form>
{% endblock user_content %}
