{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_profile_base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Set password - Projectify" %}
{% endblock title %}
{% block user_profile_content %}
    <form class="flex flex-col gap-6"
          method="post"
          aria-labelledby="set-password">
        {% csrf_token %}
        <h2 id="set-password" class="font-bold text-lg">{% translate "Set password" %}</h2>
        <p>{% translate "Set a password for your account. This will allow you to log in with your email and password." %}</p>
        {% if validators %}
            <div>
                <p class="font-bold">{% translate "Password requirements:" %}</p>
                <ul class="list-disc list-inside">
                    {% for validator in validators %}<li>{{ validator }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
        {{ form.new_password.as_field_group }}
        {{ form.new_password_confirm.as_field_group }}
        {% include "projectify/forms/submit.html" with text=_("Set password") %}
    </form>
{% endblock user_profile_content %}
