{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Password reset complete - Projectify" %}
{% endblock %}
{% block user_content %}
    <section class="flex flex-col gap-4 px-8 py-4">
        <h1 class="text-2xl font-bold">{% trans "Password reset complete" %}</h1>
        <p>
            {% trans "Your password was reset successfully. You may now proceed and log in with your email address and the password that you have just entered." %}
        </p>
        <a href="{% url "users-django:log-in" %}"
           class="text-primary underline hover:text-primary-hover active:text-primary-pressed text-base">{% trans "Continue to log in" %}</a>
    </section>
{% endblock user_content %}
