{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2025-2026 JWP Consulting GK #}
{% extends "storefront_base.html" %}
{% load projectify %}
{% block storefront_content %}
    <div class="mx-auto prose">
        <h1>User app test views</h1>
        <p>You can test Projectify user app features using the buttons below.</p>
        <h2>Authentication status</h2>
        <p>
            {% if user.is_authenticated %}
                You are currently <strong>logged in</strong>.
            {% else %}
                You are currently <strong>logged out</strong>.
            {% endif %}
        </p>
        <h2>Available test views</h2>
        <h3>Email confirmation test</h3>
        <p>
            Test email confirmation feature.
            <strong>Note:</strong> You must log out first
        </p>
        {% if user.is_authenticated %}
            {% anchor label="Log out first" href="users:log-out" %}
        {% else %}
            <form method="post" action="{% url 'users-testing:email-confirm-test' %}">
                {% csrf_token %}
                {% include "projectify/forms/submit.html" with text="Go to Email Confirmation Test" %}
            </form>
        {% endif %}
        <h3>Email address update confirmation test</h3>
        <p>
            Test email address update confirmation feature.
            <strong>Note:</strong> You must log in first
        </p>
        {% if user.is_authenticated %}
            <form method="post"
                  action="{% url 'users-testing:email-update-confirm-test' %}">
                {% csrf_token %}
                {% include "projectify/forms/submit.html" with text="Go to Email Update Confirmation Test" %}
            </form>
        {% else %}
            {% anchor label="Log in first" href="users:log-in" %}
        {% endif %}
        <h3>Password reset confirmation test</h3>
        <p>
            Test password reset confirmation feature.
            <strong>Note:</strong> You must log out first
        </p>
        {% if user.is_authenticated %}
            {% anchor label="Log out first" href="users:log-out" %}
        {% else %}
            <form method="post"
                  action="{% url 'users-testing:confirm-password-reset-test' %}">
                {% csrf_token %}
                {% include "projectify/forms/submit.html" with text="Go to Password Reset Confirmation Test" %}
            </form>
        {% endif %}
        <h3>allauth socialaccount test</h3>
        <p>Test the signup/login flow without connecting a real IdP account.</p>
        {% anchor label="Go to Social Account Signup Test" href="users-testing:socialaccount-signup-test" %}
    </div>
{% endblock %}
