{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_profile_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "User account settings - Projectify" %}
{% endblock title %}
{% block user_profile_content %}
    <form class="flex flex-col gap-6"
          method="post"
          enctype="multipart/form-data"
          aria-labelledby="update-profile">
        {% csrf_token %}
        <h2 id="update-profile" class="font-bold text-lg">{% translate "Update profile" %}</h2>
        {{ form.profile_picture.as_field_group }}
        {{ form.preferred_name.as_field_group }}
        {% include "projectify/forms/submit.html" with text=_("Save changes") %}
    </form>
    <div>
        <h2 class="font-bold text-lg">{% translate "Update email address" %}</h2>
        <p class="font-bold">{% trans "Your current email address:" %}</p>
        <p>{{ request.user.email }}</p>
        <p>{% anchor label=_("Update email address") href="users:update-email-address" %}</p>
    </div>
    <div class="flex flex-col gap-2">
        <h2 class="font-bold text-lg">{% trans "Other settings" %}</h2>
        {% anchor label=_("Change password") href="users:change-password" %}
    </div>
    <div class="flex flex-col gap-2">
        <h2 class="font-bold text-lg">{% trans "Account deletion" %}</h2>
        <p>
            {% trans "If you would like to delete your account, please send us an email using the link below. We have not implemented self-serve account deletion at this point, and would like to apologize for the inconvenience." %}
        </p>
        {% anchor href="mailto:hello@projectifyapp.com?subject=Account+deletion" label=_("Request account deletion (opens email client)") %}
    </div>
{% endblock user_profile_content %}
