{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load i18n %}
<section class="flex flex-col gap-4">
    <h2 class="text-xl font-bold">{% trans "Team member invites" %}</h2>
    <table class="grid w-full grid-cols-4 items-center gap-y-4">
        <thead class="contents">
            <tr class="contents">
                <th class="col-span-2 border-b border-border text-left font-bold">{% trans "Invited email" %}</th>
                <th class="border-b border-border text-left font-bold">{% trans "Invited on" %}</th>
                <th class="border-b border-border text-left font-bold">{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody class="contents">
            {% for invite in workspace.teammemberinvite_set.all %}
                <tr class="contents">
                    <td class="col-span-2 overflow-x-auto">{{ invite.user_invite.email }}</td>
                    <td>{{ invite.created|date:"Y-m-d" }}</td>
                    <td>
                        <button type="button"
                                class="w-full active:bg-destructive-secondary-presed text-destructive hover:text-destructive-hover active:text-destructive-hover text-base flex min-w-max flex-row justify-center gap-2 rounded-lg px-4 py-2 font-bold disabled:bg-transparent disabled:text-disabled-content">
                            <span class="w-6 h-6">{% include "heroicons/x.svg" %}</span>
                            {% trans "Uninvite" %}
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr class="contents">
                    <td class="col-span-3">{% trans "You have no open invites" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
