{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
<div class="relative m-0.5 h-4 w-4 rounded border border-secondary-hover hover:bg-secondary-hover hover:border-foreground">
    <input class="peer absolute -left-[3px] -top-[3px] h-5 w-5 appearance-none rounded-md border border-transparent"
           type="checkbox"
           name="{{ widget.name }}"
           {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
           {% include "django/forms/widgets/attrs.html" %}>
    <svg fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         width="100%"
         height="100%"
         class="hidden absolute peer-checked:block">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
    </svg>
</div>
