<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<!-- SPDX-FileCopyrightText: 2021 - 2024 JWP Consulting GK -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description"
              content="Free software project management software Projectify">
        <meta name="keywords"
              content="free software,open source,project management,projectify">
        <title>Projectify</title>
        <!-- TODO header goes here -->
        {% tailwind_css %}
    </head>
    <body class="min-h-screen w-full max-w-full bg-foreground text-base-content">
        <div class="flex min-h-screen flex-col" id="svelte" role="presentation">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
