{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load projectify %}
{% block content %}
    <div class="flex min-h-screen grow flex-col">
        {% include "common/navigation/header/dashboard.html" %}
        <div class="flex min-h-0 shrink grow flex-row">
            <div class="hidden h-full shrink-0 md:block">
                <div class="max-w-xs 2xl:max-w-md">
                    <nav class="flex flex-col py-4">
                        <div class="flex flex-col gap-2 px-4 pb-4">
                            <div class="flex flex-row items-center justify-between gap-4">
                                {% if workspace %}
                                    <div class="min-w-0 grow">
                                        <button class="flex w-full flex-row items-center justify-between gap-2 rounded-lg border border-border p-2 hover:bg-secondary-hover">
                                            <div class="flex min-w-0 flex-row items-center gap-2">
                                                <div class="h-4 w-4 shrink-0">{% include "heroicons/briefcase.svg" %}</div>
                                                <div class="min-w-0 truncate font-bold">{{ workspace.title }}</div>
                                            </div>
                                            <div class="w-4 h-4 shrink-0">{% include "heroicons/chevron-down.svg" %}</div>
                                        </button>
                                    </div>
                                    <div>
                                        <a href="{% url 'dashboard:workspaces:settings' workspace.uuid %}"
                                           aria-label="Open workspace settings"
                                           class="w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background disabled:bg-transparent disabled:text-disabled flex items-center justify-center">
                                            {% include "heroicons/dots-horizontal.svg" %}
                                        </a>
                                    </div>
                                {% else %}
                                    todo no workspace
                                {% endif %}
                            </div>
                        </div>
                        <p class="px-4">
                            <strong>{% trans "Trial workspace" %}</strong>
                            {% anchor "#" _("Learn more") external=True %}
                        </p>
                        <div class="flex flex-col">
                            <button class="flex w-full flex-row items-center justify-between gap-2 px-4 py-2 text-utility hover:text-base-content">
                                <div class="flex flex-row items-center gap-4">
                                    <div class="flex flex-row items-center gap-2">
                                        <div class="w-4 h-4">{% include "heroicons/folder.svg" %}</div>
                                        <div class="font-bold">{% trans "Projects" %}</div>
                                    </div>
                                </div>
                                <div class="w-4 h-4">{% include "heroicons/chevron-down.svg" %}</div>
                            </button>
                            <div class="flex shrink flex-col">
                                {% block dashboard_projects %}
                                    {% include "dashboard_projects.html" %}
                                {% endblock dashboard_projects %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            {% block dashboard_content %}
            {% endblock dashboard_content %}
        </div>
    </div>
{% endblock content %}
