{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load projectify %}
{% block content %}
    <div class="flex min-h-screen grow flex-col">
        {% include "common/navigation/header/dashboard.html" %}
        <div class="flex min-h-0 shrink grow flex-row">
            <div class="hidden h-full shrink-0 md:block">
                <div class="max-w-xs 2xl:max-w-md">
                    <nav class="flex flex-col py-4">
                        <div class="flex flex-col gap-2 px-4 pb-4">
                            {% if workspace %}
                                <div class="min-w-0 grow">{% include "workspace/common/sidebar/workspace_details.html" %}</div>
                            {% endif %}
                        </div>
                        <p class="px-4">
                            {% url "help:detail" page="billing" as trial_workspace_help %}
                            <strong>{% trans "Trial workspace" %}</strong>
                            {% anchor href=trial_workspace_help label=_("Learn more") external=True %}
                        </p>
                        <div class="flex flex-col">
                            <button class="flex w-full flex-row items-center justify-between gap-2 px-4 py-2 text-utility hover:text-base-content">
                                <div class="flex flex-row items-center gap-4">
                                    <div class="flex flex-row items-center gap-2">
                                        <div class="w-4 h-4">{% icon "folder" %}</div>
                                        <div class="font-bold">{% trans "Projects" %}</div>
                                    </div>
                                </div>
                                <div class="w-4 h-4">{% icon "chevron-down" %}</div>
                            </button>
                            <div class="flex shrink flex-col">
                                {% block dashboard_projects %}
                                    {% include "workspace/common/sidebar/project_details.html" %}
                                {% endblock dashboard_projects %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            {% block dashboard_content %}
            {% endblock dashboard_content %}
        </div>
    </div>
    {% include "common/footer.html" %}
{% endblock content %}
