{# SPDX-FileCopyrightText: 2024-2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load i18n %}
{% load projectify %}
<form>
    <fieldset class="w-full max-w-full">
        <legend class="flex items-center gap-2">
            <div class="w-4 h-4">{% include "heroicons/user.svg" %}</div>
            <p class=" font-bold truncate py-2">{% trans "Filter team members" %}</p>
        </legend>
        <div class="flex flex-col gap-2">
            <div class="flex items-center gap-2">
                <div class="w-4 h-4">{% include "heroicons/search.svg" %}</div>
                <div class="flex-1">
                    <input type="text"
                           name="team-member-name"
                           class="placeholder:text-task-update-text peer h-full w-full rounded-lg border border-border px-2 py-2" />
                </div>
            </div>
            <div class="flex flex-col max-h-60 overflow-y-auto">
                {% for member in team_members %}
                    <div class="grid grid-cols-[auto_1fr_auto] gap-2 items-center hover:bg-background p-2">
                        <input type="checkbox"
                               id="member_{{ member.uuid }}"
                               name="member_{{ member.uuid }}"
                               value="{{ member.uuid }}"
                               class="cursor-pointer" />
                        <label for="member_{{ member.uuid }}"
                               class="flex flex-1 gap-2 text-regular min-w-0 cursor-pointer">
                            {% user_avatar member.user %}
                            <span class="truncate">{{ member }}</span>
                        </label>
                        {# TODO:Add count #}
                        <div class="flex shrink-0 flex-row items-center gap-2 rounded-2.5xl bg-background px-2 py-0.5 text-primary group-hover:bg-foreground">
                            111
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </fieldset>
</form>
