{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2024-2025 JWP Consulting GK #}
{% load i18n %}
{% load projectify %}
<div id="sidebar-project-section">
    <form hx-post="{% url 'dashboard:workspaces:minimize-project-list' workspace.uuid %}"
          hx-swap="outerHTML"
          hx-target="#sidebar-project-section">
        {% csrf_token %}
        <input type="hidden"
               name="minimized"
               value="{% if current_team_member_qs.minimized_project_list %}false{% else %}true{% endif %}">
        {% if project %}<input type="hidden" name="current_project" value="{{ project.uuid }}">{% endif %}
        <button type="submit"
                class="flex w-full flex-row items-center justify-between gap-2 px-4 py-2 text-utility hover:text-base-content">
            <div class="flex flex-row items-center gap-4">
                <div class="flex flex-row items-center gap-2">
                    {% icon "folder" size=4 %}
                    <div class="font-bold">{% trans "Projects" %}</div>
                </div>
            </div>
            <div class="flex flex-row items-center gap-2">
                {% include "workspace/common/loading_spinner.html" %}
                {% if current_team_member_qs.minimized_project_list %}
                    {% icon "chevron-up" size=4 %}
                {% else %}
                    {% icon "chevron-down" size=4 %}
                {% endif %}
            </div>
        </button>
    </form>
    {% if not current_team_member_qs.minimized_project_list %}
        {% for project_item in projects %}
            <a class="flex flex-row items-center gap-2 px-4 py-1 hover:bg-base-200"
               href="{% url "dashboard:projects:detail" project_item.uuid %}">
                <div class="shrink-0 rounded-md p-1{% if project_item == project %} bg-primary-focus{% endif %}">
                    {% if project_item == project %}
                        {% icon "folder" "white" size=4 %}
                    {% else %}
                        {% icon "folder" size=4 %}
                    {% endif %}
                </div>
                <div class="truncate min-w-0 font-bold">{{ project_item.title }}</div>
            </a>
        {% endfor %}
        {% if workspace %}
            <a class="flex w-full flex-row items-center gap-2 px-4 py-2 font-bold hover:bg-secondary-hover active:bg-disabled disabled:active:bg-secondary-hover text-primary"
               href="{% url "dashboard:workspaces:create-project" workspace_uuid=workspace.uuid %}">
                {% icon "plus" "primary" size=4 %}
                <span class="truncate">{% translate "Create new project" %}</span>
            </a>
        {% endif %}
    {% endif %}
</div>
{% if task_filter_form %}
    <div id="team-member-filters" class="flex flex-col px-4">
        <form id="minimize-team-member-filter-form"
              hx-post="{% url 'dashboard:projects:detail' project.uuid %}"
              hx-swap="outerHTML"
              hx-target="#team-member-filters"
              hx-select="#team-member-filters"
              hx-include="#task-filter,#team-member-filters,#label-filters">
            {% csrf_token %}
            <input type="hidden" name="action" value="minimize_team_member_filter">
            <input type="hidden"
                   name="minimized"
                   value="{% if current_team_member_qs.minimized_team_member_filter %}false{% else %}true{% endif %}">
            <button type="submit"
                    form="minimize-team-member-filter-form"
                    class="flex w-full flex-row items-center justify-between gap-2 py-2 text-utility hover:text-base-content">
                <div class="flex flex-row items-center gap-2">
                    <div class="w-4 h-4">{% icon "user" %}</div>
                    <span class="font-bold truncate">
                        {% if has_team_member_filter %}
                            {% trans "Team members (filtered)" %}
                        {% else %}
                            {% trans "Team members" %}
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-row items-center gap-2">
                    {% include "workspace/common/loading_spinner.html" %}
                    {% if current_team_member_qs.minimized_team_member_filter %}
                        {% icon "chevron-up" size=4 %}
                    {% else %}
                        {% icon "chevron-down" size=4 %}
                    {% endif %}
                </div>
            </button>
        </form>
        <fieldset class="w-full max-w-full{% if current_team_member_qs.minimized_team_member_filter %} hidden{% endif %}">
            <legend class="px-2 font-bold">{{ task_filter_form.filter_by_team_member.label }}</legend>
            {{ task_filter_form.filter_by_team_member }}
            {% if workspace %}
                <a href="{% url 'dashboard:workspaces:team-members' workspace_uuid=workspace.uuid %}"
                   class="flex w-full flex-row items-center gap-2 px-4 py-2 font-bold hover:bg-secondary-hover active:bg-disabled disabled:active:bg-secondary-hover text-primary">
                    <span class="size-4">{% icon "plus" "primary" %}</span>
                    <span class="truncate">{% translate "Add more team members" %}</span>
                </a>
            {% endif %}
        </fieldset>
    </div>
    <div id="label-filters" class="flex flex-col px-4">
        <form id="minimize-label-filter-form"
              hx-post="{% url 'dashboard:projects:detail' project.uuid %}"
              hx-swap="outerHTML"
              hx-target="#label-filters"
              hx-select="#label-filters"
              hx-include="#task-filter,#team-member-filters,#label-filters">
            {% csrf_token %}
            <input type="hidden" name="action" value="minimize_label_filter">
            <input type="hidden"
                   name="minimized"
                   value="{% if current_team_member_qs.minimized_label_filter %}false{% else %}true{% endif %}">
            <button type="submit"
                    form="minimize-label-filter-form"
                    class="flex w-full flex-row items-center justify-between gap-2 py-2 text-utility hover:text-base-content">
                <div class="flex flex-row items-center gap-2">
                    <div class="w-4 h-4">{% icon "tag" %}</div>
                    <span class="font-bold truncate">
                        {% if has_label_filter %}
                            {% trans "Labels (active)" %}
                        {% else %}
                            {% trans "Labels" %}
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-row items-center gap-2">
                    {% include "workspace/common/loading_spinner.html" %}
                    {% if current_team_member_qs.minimized_label_filter %}
                        {% icon "chevron-up" size=4 %}
                    {% else %}
                        {% icon "chevron-down" size=4 %}
                    {% endif %}
                </div>
            </button>
        </form>
        <fieldset class="flex flex-col overflow-y-auto w-full max-w-full min-w-0 pb-4{% if current_team_member_qs.minimized_label_filter %} hidden{% endif %}">
            <legend class="px-2 font-bold">{{ task_filter_form.filter_by_label.label }}</legend>
            {{ task_filter_form.filter_by_label }}
            {% if workspace %}
                {% anchor "dashboard:workspaces:labels" _("Edit labels") workspace_uuid=workspace.uuid %}
            {% endif %}
        </fieldset>
        {% include "projectify/forms/submit.html" with text=_("Filter")  form_name="task-filter" %}
    </div>
{% endif %}
