{# SPDX-FileCopyrightText: 2024 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load i18n %}
<details name="workspace-select" class="w-full">
    <summary class="flex items-center gap-2 hover:bg-secondary-hover font-bold border rounded cursor-pointer p-2">
        <div class="h-4 w-4 shrink-0">{% include "heroicons/briefcase.svg" %}</div>
        <span class="truncate">{{ workspace.title }}</span>
    </summary>
    <ul class="flex flex-col max-h-40 overflow-y-auto">
        <li class="flex items-center gap-2 border-b">
            <a href="{% url 'dashboard:workspaces:settings' workspace.uuid %}"
               class="flex w-full flex-row items-center gap-2 px-4 py-2 hover:bg-secondary-hover active:bg-disabled disabled:active:bg-secondary-hover text-base-content">
                <div class="h-4 w-4 shrink-0">{% include "heroicons/cog.svg" %}</div>
            {% trans "Workspace Settings" %}</a>
        </li>
        {% for w in workspaces %}
            <li>
                <a href="{% url "dashboard:workspaces:detail" w.uuid %}"
                   class="flex w-full flex-row items-center gap-2 px-4 py-2 hover:bg-secondary-hover active:bg-disabled disabled:active:bg-secondary-hover text-base-content">
                    <div class="h-4 w-4 shrink-0">{% include "heroicons/briefcase.svg" %}</div>
                {{ w.title }}</a>
            </li>
        {% endfor %}
    </ul>
</details>
