{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/form_base.html" %}
{% load i18n %}
{% load projectify %}
{% block extrahead %}
    <meta name="trix-csp-nonce" content="{{ csp_nonce }}">
    {{ form.media }}
{% endblock extrahead %}
{% block form_title %}
    {% translate "Edit project" %}
{% endblock form_title %}
{% block form_header %}
    {% include "workspace/task/breadcrumbs.html" %}
    <div class="grow-0">{% include "projectify/forms/submit.html" with text=_("Save") %}</div>
{% endblock form_header %}
{% block form_content %}
    <h1 class="font-bold text-3xl">{% translate "Edit project" %}</h1>
    {{ form.as_p }}
{% endblock form_content %}
