{# SPDX-FileCopyrightText: 2024-2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% blocktrans with title=project.title %}{{ title }} - Projectify{% endblocktrans %}
{% endblock title %}
{% block dashboard_content %}
    <main id="project-detail"
          class="min-w-0 grow flex flex-col items-center gap-4 bg-background py-4">
        {% if task_filter_form %}
            <form id="task-filter"
                  role="search"
                  title="{% translate "Task search form" %}"
                  class="flex w-full max-w-md flex-col gap-2 rounded-xl bg-foreground px-4 py-4">
                <label for="{{ task_filter_form.task_search_query.id_for_label }}"
                       class="font-bold text-base-content first-letter:uppercase">{% translate "Task search" %}</label>
                <input type="search"
                       class="placeholder:text-task-update-text peer h-full w-full rounded-lg border border-border px-2 py-2"
                       id="{{ task_filter_form.task_search_query.id_for_label }}"
                       name="{{ task_filter_form.task_search_query.html_name }}"
                       placeholder="{{ task_filter_form.task_search_query.help_text }}"
                       form="task-filter"
                       {% if task_filter_form.task_search_query.data %}value="{{ task_filter_form.task_search_query.data }}"{% endif %} />
                {% include "projectify/forms/submit.html" with text=_("Search tasks") %}
            </form>
        {% endif %}
        <div class="flex w-full grow flex-col gap-4 md:p-2">
            {% for section in project.section_set.all %}
                {% include "workspace/project_detail/section.html" with section=section %}
            {% empty %}
                <div class="flex flex-col bg-foreground text-center rounded-sm gap-4 p-8">
                    <h2 class="text-xl font-bold">{% translate "No sections yet" %}</h2>
                    <p>{% translate "Create your first section to start organizing tasks." %}</p>
                    {% go_to_action href="dashboard:projects:create-section" project_uuid=project.uuid label=_("Create section") title=_("Create a new section") %}
                </div>
            {% endfor %}
            <div class="sticky bottom-0 self-end p-2">
                {% go_to_action href="dashboard:projects:create-section" project_uuid=project.uuid label=_("Create section") title=_("Create a new section") style="primary" %}
            </div>
        </div>
    </main>
{% endblock dashboard_content %}
