{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/form_base.html" %}
{% load i18n %}
{% load projectify rules %}
{% block title %}
    {% blocktrans with title=task.title %}{{ title }} task actions - Projectify{% endblocktrans %}
{% endblock title %}
{% block form_content %}
    <div class="min-w-0 grow flex flex-col gap-4">
        {% include "workspace/task/breadcrumbs.html" with task=task section=task.section %}
        <h1 class="text-2xl font-bold">
            {% translate "Task actions" %}
            <span class="htmx-indicator">{% translate "Saving..." %}</span>
        </h1>
        {% include "workspace/task_actions/internal.html" %}
    </div>
{% endblock form_content %}
