{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load projectify %}
{% load rules %}
{% load i18n %}
{% block title %}
    {% blocktrans with task_title=task.title %}{{ task_title }} task - Projectify{% endblocktrans %}
{% endblock title %}
{% partialdef breadcrumbs %}
    <div class="flex shrink flex-row items-center gap-6">
        {% if request.htmx %}
            <button type="button"
                    id="close-task-detail-button"
                    class="shrink-0 size-8 p-1.5 rounded-full border border-transparent hover:bg-secondary-hover active:bg-disabled"
                    aria-label="{% trans 'Close task details' %}">{% icon "x" %}</button>
        {% endif %}
        {% include "workspace/task/breadcrumbs.html" with current_page_title=task.title current_page_href=request.path %}
    </div>
{% endpartialdef breadcrumbs %}
{% partialdef task_panel %}
    {% has_perm "workspace.update_task" user task.workspace as can_update_task %}
    <div class="flex flex-col gap-8">
        <div class="flex flex-col items-start gap-2">
            <p class="font-bold">{% trans "Task description" %}</p>
            <div class="flex w-full flex-row items-start gap-4">
                {% if task.description %}
                    <div class="prose trix-content">{{ task.description }}</div>
                {% else %}
                    <p class="text-base-content">{% trans "No description" %}</p>
                {% endif %}
                {% if can_update_task %}
                    {% circle_anchor label=_("Edit description") icon_style="pencil" href="dashboard:tasks:update-focus-field" title=_("Edit description") size=4 task_uuid=task.uuid focus_field="description" %}
                {% endif %}
            </div>
        </div>
        <div class="flex flex-col items-start gap-2">
            <p class="font-bold">{% trans "Assignee" %}</p>
            <div class="flex flex-row gap-2 items-center">
                {% user_avatar task.assignee %}
                <span class="truncate">{{ task.assignee|default:"No team member assigned" }}</span>
                {% if can_update_task %}
                    {% circle_anchor label=_("Edit assignee") icon_style="pencil" href="dashboard:tasks:update-focus-field" title=_("Edit assignee") size=4 task_uuid=task.uuid focus_field="assignee" %}
                {% endif %}
            </div>
        </div>
        <div class="flex flex-col items-start gap-2">
            <p class="font-bold">{% trans "Due date" %}</p>
            <div class="flex flex-row gap-4 items-center">
                {% if task.due_date %}
                    {{ task.due_date.date.isoformat }}
                {% else %}
                    <p class="text-base-content">{% trans "No due date" %}</p>
                {% endif %}
                {% if can_update_task %}
                    {% circle_anchor label=_("Edit due date") icon_style="pencil" href="dashboard:tasks:update-focus-field" title=_("Edit due date") size=4 task_uuid=task.uuid focus_field="due_date" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endpartialdef task_panel %}
{% partialdef task_inline %}
    {% has_perm "workspace.update_task" user task.workspace as can_update_task %}
    <main id="main" class="min-w-0 grow flex h-full flex-col p-4 py-8 gap-8">
        {% partial breadcrumbs %}
        {% if can_update_task %}
            {% go_to_action "dashboard:tasks:update" label=_("Edit task") title=_("Edit this task") task_uuid=task.uuid %}
        {% endif %}
        <div class="flex flex-col gap-8">{% partial task_panel %}</div>
    </main>
{% endpartialdef task_inline %}
{% block dashboard_content %}
    {% has_perm "workspace.update_task" user task.workspace as can_update_task %}
    <main id="main"
          class="min-w-0 grow flex h-full flex-col p-4 pt-0 max-w-4xl">
        <div class="sticky top-0 flex flex-row flex-wrap items-center justify-between gap-x-2 gap-y-4 bg-foreground pb-8 pt-4 lg:flex-nowrap">
            {% partial breadcrumbs %}
            <div class="flex items-center justify-between gap-4 sm:flex-row">
                {% if can_update_task %}
                    {% go_to_action "dashboard:tasks:update" label=_("Edit") title=_("Edit this task") task_uuid=task.uuid %}
                {% endif %}
            </div>
        </div>
        {% partial task_panel %}
    </main>
{% endblock dashboard_content %}
