{# SPDX-FileCopyrightText: 2024-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% blocktrans with project_title=project.title %}Add task to {{ project_title }} - Projectify{% endblocktrans %}
{% endblock title %}
{% block extrahead %}
    <meta name="trix-csp-nonce" content="{{ csp_nonce }}">
    {{ form.media }}
{% endblock extrahead %}
{% block dashboard_content %}
    <form action="{% url 'dashboard:projects:create-task' project.uuid %}"
          method="post"
          class="min-w-0 grow"
          aria-label="{% translate "Task creation form" %}"
          id="main">
        <div class="flex h-full flex-col p-4 pt-0">
            <div class="sticky top-0 flex flex-row flex-wrap items-center justify-between gap-x-2 gap-y-4 bg-foreground pb-8 pt-4 lg:flex-nowrap">
                <div class="flex shrink flex-row items-center gap-6">
                    <div class="shrink-0">
                        <a href="{% url "dashboard:projects:detail" project.uuid %}"
                           class="block w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled"
                           aria-label="{% translate "Go back to project" %}">{% icon "x" %}</a>
                    </div>
                    {% include "workspace/task/breadcrumbs.html" with project=project current_page_label=_("New task (currently creating)") current_page_url=request.get_full_path %}
                </div>
                <div class="contents sm:flex items-center justify-between gap-4 sm:flex-row">
                    {% include "projectify/forms/submit.html" with name="action" value="create" text=_("Create task") %}
                    <div class="shrink-0 grow">{% action_button text=_("Create and stay") name="action" value="create_stay" %}</div>
                </div>
            </div>
            <div class="min-w-0 grow max-w-[65ch]">{{ form }}</div>
            {% csrf_token %}
        </div>
    </form>
{% endblock dashboard_content %}
