{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/form_base.html" %}
{% load i18n %}
{% load projectify rules %}
{% block title %}
    {% blocktrans with title=task.title %}{{ title }} task actions - Projectify{% endblocktrans %}
{% endblock title %}
{# inlined from projectify/workspace/templates/workspace/task_actions/internal.html #}
{% partialdef task_actions_internal %}
    <form hx-post="{% url 'dashboard:tasks:delete' task.uuid %}"
          hx-confirm="{% blocktrans with title=task.title %}Are you sure you want to delete the following task: {{ title }}{% endblocktrans %}">
        {% action_button justify_left=True text=_("Delete task") icon="trash" style="destructive" %}
    </form>
{% endpartialdef task_actions_internal %}
{# inlined from projectify/workspace/templates/workspace/task_actions_dropdown.html #}
{% partialdef tr_dropdown %}
    <tr id="task-{{ task.uuid }}-menu" class="contents">
        <td class="lg:col-span-2 rounded-lg border border-border p-3 ml-10">
            <div class="flex items-center justify-between">
                <span class="htmx-indicator">{% translate "Saving..." %}</span>
                <button aria-label="{% translate "Close task menu" %}"
                        id="close-task-menu-{{ task.uuid }}">{% icon "x" size=4 %}</button>
            </div>
            {% partial task_actions_internal %}
        </td>
    </tr>
    <script nonce="{{ csp_nonce }}">
        function closeTaskMenu(event) {
            const tr = event.target.closest("tr");
            if (!tr) {
                throw new Error("No tr found");
            }
            tr.classList.add("hidden");
        }
        document.getElementById("close-task-menu-{{ task.uuid }}").addEventListener("click", closeTaskMenu);
    </script>
{% endpartialdef tr_dropdown %}
{% block form_content %}
    <div class="min-w-0 grow flex flex-col gap-4">
        {% include "workspace/task/breadcrumbs.html" with task=task project=task.project %}
        <h1 class="text-2xl font-bold">
            {% translate "Task actions" %}
            <span class="htmx-indicator">{% translate "Saving..." %}</span>
        </h1>
        {% partial task_actions_internal %}
    </div>
{% endblock form_content %}
