{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load projectify %}
{% load rules %}
{% load i18n %}
{% block dashboard_content %}
    <main id="main" class="min-w-0 grow flex h-full flex-col p-4 pt-0">
        <div class="sticky top-0 flex flex-row flex-wrap items-center justify-between gap-x-2 gap-y-4 bg-foreground pb-8 pt-4 lg:flex-nowrap">
            <div class="flex shrink flex-row items-center gap-6">
                <div class="shrink-0">
                    <a href="{% url "dashboard:projects:detail" task.section.project.uuid %}"
                       class="block w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background"
                       aria-label="{% trans 'Go back to section' %}">{% icon "x" %}</a>
                </div>
                {% include "workspace/task/breadcrumbs.html" with section=task.section task=task %}
            </div>
            <div class="flex items-center justify-between gap-4 sm:flex-row">
                {% has_perm "workspace.update_task" user task.workspace as can_update_task %}
                {% if can_update_task %}
                    {% go_to_action "dashboard:tasks:update" label=_("Edit") title=_("Edit this task") task_uuid=task.uuid %}
                {% endif %}
                {% circle_anchor label=_("Task menu") title=_("Open task context menu") icon_style="dots-vertical" href="dashboard:tasks:actions" task_uuid=task.uuid %}
            </div>
        </div>
        <div class="flex flex-col gap-8">
            <table class="flex w-full max-w-xl flex-col gap-y-4 sm:grid sm:grid-cols-4">
                <tbody class="contents">
                    <tr class="contents">
                        <th scope="row" class="col-span-1 text-left font-bold">{% trans "Task title" %}</th>
                        <td class="col-span-3 flex flex-row gap-4 items-center">
                            {{ task.title }}
                            {% circle_anchor label=_("Edit task title") icon_style="pencil" href="dashboard:tasks:update-focus-field" title=_("Edit task title") size=4 task_uuid=task.uuid focus_field="title" %}
                        </td>
                    </tr>
                    <tr class="contents">
                        <th scope="row" class="col-span-1 text-left font-bold">{% trans "Assignee" %}</th>
                        <td class="col-span-3 flex flex-row gap-2 items-center">
                            {% user_avatar task.assignee %}
                            <span class="truncate">{{ task.assignee|default:"No team member assigned" }}</span>
                            {% circle_anchor label=_("Edit assignee") icon_style="pencil" href="dashboard:tasks:update-focus-field" title=_("Edit assignee") size=4 task_uuid=task.uuid focus_field="assignee" %}
                        </td>
                    </tr>
                    <tr class="contents">
                        <th scope="row" class="col-span-1 text-left font-bold">{% trans "Labels" %}</th>
                        <td class="col-span-3 gap-2 flex flex-row items-center">
                            <div class="flex flex-row flex-wrap items-center gap-x-1 gap-y-2">
                                {% for label in task.labels.all %}
                                    <span class="min-w-0 rounded-2.5xl px-3 py-1 font-bold {{ label.bg_class }} {{ label.text_class }}"
                                          type="button"
                                          disabled="">{{ label.name }}</span>
                                {% endfor %}
                            </div>
                            {% circle_anchor label=_("Edit labels") icon_style="pencil" href="dashboard:tasks:update-focus-field" title=_("Edit labels") size=4 task_uuid=task.uuid focus_field="labels" %}
                        </td>
                    </tr>
                    <tr class="contents">
                        <th scope="row" class="col-span-1 text-left font-bold">{% trans "Due date" %}</th>
                        <td class="col-span-3 flex flex-row gap-4 items-center">
                            {% if task.due_date %}
                                {{ task.due_date.date.isoformat }}
                            {% else %}
                                <p class="text-base-content">{% trans "No due date" %}</p>
                            {% endif %}
                            {% circle_anchor label=_("Edit due date") icon_style="pencil" href="dashboard:tasks:update-focus-field" title=_("Edit due date") size=4 task_uuid=task.uuid focus_field="due_date" %}
                        </td>
                    </tr>
                    <tr class="contents">
                        <th scope="row" class="col-span-1 text-left font-bold">{% trans "Description" %}</th>
                        <td class="col-span-3 flex w-full flex-row items-center gap-4">
                            {% if task.description %}
                                <p>{{ task.description }}</p>
                            {% else %}
                                <p class="text-base-content">{% trans "No description" %}</p>
                            {% endif %}
                            {% circle_anchor label=_("Edit description") icon_style="pencil" href="dashboard:tasks:update-focus-field" title=_("Edit description") size=4 task_uuid=task.uuid focus_field="description" %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="flex flex-col gap-4">
                <div class="flex flex-row items-center gap-4">
                    <h4 class="text-xl font-bold">{% trans "Sub tasks" %}</h4>
                    {% circle_anchor label=_("Edit sub tasks") icon_style="pencil" href="dashboard:tasks:update" fragment="subtasks" title=_("Edit sub tasks") size=4 task_uuid=task.uuid %}
                </div>
                {% if task.sub_task_progress is not None %}
                    <div class="flex flex-row items-center gap-4">
                        <div class="h-2 w-full overflow-hidden rounded bg-disabled">
                            <div role="img"
                                 title="{% blocktranslate with progress=task.sub_task_progress|percent %}Sub tasks {{ progress }} done{% endblocktranslate %}"
                                 class="h-full bg-primary {{ subtask_progress_style }}"></div>
                        </div>
                        <span aria-hidden="true" class="min-w-max font-bold">{{ task.sub_task_progress|percent }}</span>
                    </div>
                {% endif %}
            </div>
            <table id="subtasks"
                   class="grid grow items-center grid-cols-[min-content_1fr_min-content] gap-x-1 gap-y-1">
                <thead class="contents">
                    <tr class="contents">
                        <th class="sr-only">{% translate "Done" %}</th>
                        <th class="sr-only">{% translate "Sub task" %}</th>
                        <th class="sr-only">{% translate "Edit sub task" %}</th>
                    </tr>
                </thead>
                <tbody class="contents">
                    {% for sub_task in task.subtask_set.all %}
                        <tr class="contents">
                            <td class="size-4 shrink-0 rounded border border-secondary-hover"
                                role="img"
                                aria-label="{% if sub_task.done %}{% trans 'Subtask completed' %}{% else %}{% trans 'Subtask not completed' %}{% endif %}">
                                {% if sub_task.done %}
                                    {% icon "check" size=4 %}
                                {% endif %}
                            </td>
                            <td class="px-2 py-1 truncate">{{ sub_task.title }}</td>
                            <td>
                                {% circle_anchor label=_("Edit sub task") icon_style="pencil" href="dashboard:tasks:update-sub-task" title=_("Edit sub task") size=4 task_uuid=task.uuid sub_task_uuid=sub_task.uuid %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="contents">
                            <td class="col-span-3">
                                <p class="text-base-content">
                                    {% blocktrans %}This task has no sub tasks. You can add sub tasks by going to the task edit screen and clicking the <strong>Add sub task</strong> button from there.{% endblocktrans %}
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock dashboard_content %}
