{# SPDX-FileCopyrightText: 2024-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load static %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% translate "Editing task - Projectify" %}
{% endblock title %}
{% block dashboard_content %}
    <form id="main"
          action="{% url 'dashboard:tasks:update' task.uuid %}"
          method="post"
          class="min-w-0 grow"
          aria-label="{% translate "Update task" %}">
        {{ form.errors }}
        <div class="flex h-full flex-col p-4 pt-0">
            <div class="sticky top-0 flex flex-row flex-wrap items-center justify-between gap-x-2 gap-y-4 bg-foreground pb-8 pt-4 lg:flex-nowrap">
                <div class="flex shrink flex-row items-center gap-6">
                    <div class="shrink-0">
                        <a href="{% url "dashboard:projects:detail" task.section.project.uuid %}"
                           class="block w-8 h-8 p-1.5 rounded-full border border-transparent text-base-content hover:bg-secondary-hover active:bg-disabled-background"
                           aria-label="{% translate "Go back to section" %}">{% icon "x" %}</a>
                    </div>
                    {% include "workspace/task/breadcrumbs.html" with section=task.section task=task %}
                </div>
                <div class="contents sm:flex items-center justify-between gap-4 sm:flex-row">
                    {% include "projectify/forms/submit.html" with name="action" value="update" text=_("Update task") %}
                    {% include "projectify/forms/submit.html" with name="action" value="update_stay" text=_("Update task and stay") %}
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <table class="flex w-full max-w-xl flex-col gap-y-4 sm:grid sm:grid-cols-4">
                    <tbody class="contents">
                        {{ form.as_table }}
                    </tbody>
                </table>
                {% csrf_token %}
            </div>
        </div>
    </form>
{% endblock dashboard_content %}
