{# SPDX-FileCopyrightText: 2024-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% blocktrans with task_title=task.title %}Edit {{ task_title }} task - Projectify{% endblocktrans %}
{% endblock title %}
{% block extrahead %}
    <meta name="trix-csp-nonce" content="{{ csp_nonce }}">
    {{ form.media }}
{% endblock extrahead %}
{% block dashboard_content %}
    <form id="main"
          action="{% url 'dashboard:tasks:update' task.uuid %}"
          method="post"
          class="min-w-0 grow"
          aria-label="{% translate "Update task" %}">
        <div class="flex h-full flex-col p-4 pt-0">
            <div class="sticky top-0 flex flex-row flex-wrap items-center justify-between gap-x-2 gap-y-4 bg-foreground pb-8 pt-4 lg:flex-nowrap">
                <div class="flex shrink flex-row items-center gap-6">
                    {% circle_anchor label=_("Go back to project") icon_style="x" href="dashboard:projects:detail" project_uuid=task.project.uuid %}
                    {% include "workspace/task/breadcrumbs.html" with section=task.section task=task %}
                </div>
                <div class="contents sm:flex items-center justify-between gap-4 sm:flex-row">
                    {% include "projectify/forms/submit.html" with name="action" value="update" text=_("Update task") %}
                    {% include "projectify/forms/submit.html" with name="action" value="update_stay" text=_("Update task and stay") %}
                </div>
            </div>
            <div class="min-w-0 grow max-w-[65ch]">{{ form }}</div>
            {% csrf_token %}
        </div>
    </form>
{% endblock dashboard_content %}
