{# SPDX-FileCopyrightText: 2024-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/form_base.html" %}
{% load i18n %}
{% load projectify %}
{% load rules %}
{% block title %}
    {% blocktrans with task_title=task.title %}Edit {{ task_title }} task - Projectify{% endblocktrans %}
{% endblock title %}
{% block extrahead %}
    <meta name="trix-csp-nonce" content="{{ csp_nonce }}">
    {{ form.media }}
{% endblock extrahead %}
{% block form_title %}
    {% translate "Edit task" %}
{% endblock form_title %}
{% block form_header %}
    {% include "workspace/task/breadcrumbs.html" with section=task.section task=task current_page_label=_("Edit task") current_page_url=request.get_full_path %}
    <div class="flex gap-2">
        {% has_perm "workspace.delete_task" user project.workspace as can_delete_task %}
        {% if can_delete_task %}
            <div class="flex gap-1 grow-0"
                 hx-post="{% url 'dashboard:tasks:delete' task.uuid %}"
                 hx-confirm="{% blocktrans with title=task.title %}Are you sure you want to delete the following task: {{ title }}{% endblocktrans %}">
                {% action_button form="delete-task" grow=False text=_("Delete task") style="destructive" %}
            </div>
            {% include "projectify/forms/submit.html" with text=_("Save") %}
        {% endif %}
    </div>
{% endblock form_header %}
{% block form_content %}
    {{ form.as_p }}
{% endblock form_content %}
