{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/form_base.html" %}
{% load projectify %}
{% load rules %}
{% load i18n %}
{% block extrahead %}
    <meta name="trix-csp-nonce" content="{{ csp_nonce }}">
    {{ form.media }}
{% endblock extrahead %}
{% block title %}
    {% blocktrans  %}New {{ page_title }} - Projectify{% endblocktrans %}
{% endblock title %}
{% block form_header %}
    {% blocktrans %}{{ page_title }}{% endblocktrans %}
{% endblock form_header %}
{% block form_content %}
    <form class="flex flex-col" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
{% endblock form_content %}
