{# SPDX-FileCopyrightText: 2025-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "dashboard_base.html" %}
{% load i18n %}
{% partialdef tab %}
    <a href="{{ tab.href }}"
       class="border-b-2 p-2.5 font-bold uppercase hover:text-base-content {% if tab.active %}border-base-content text-base-content{% else %}border-border text-utility{% endif %}">{{ tab.label }}</a>
{% endpartialdef tab %}
{% block dashboard_content %}
    <div class="grow flex flex-col items-center bg-background px-0 py-8 sm:px-2">
        <div class="flex w-full max-w-xl flex-col gap-4">
            <h1 class="px-2 text-2xl font-bold sm:px-0">{% trans "Workspace settings" %}</h1>
            <div class="flex w-full max-w-xl flex-col gap-10 rounded-lg bg-foreground p-4 shadow-context-menu">
                <nav class="flex flex-row flex-wrap"
                     aria-label="{% translate "Workspace settings tabs" %}">
                    {% for tab in tabs %}
                        {% partial tab %}
                    {% endfor %}
                    <div class="grow border-b-2 border-border"></div>
                </nav>
                <main id="main" class="flex flex-col gap-10">
                    {% block workspace_settings_content %}
                    {% endblock workspace_settings_content %}
                </main>
            </div>
        </div>
    </div>
{% endblock dashboard_content %}
