{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/workspace_settings_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% blocktrans with workspace_title=workspace.title %}{{ workspace_title }} settings - Projectify{% endblocktrans %}
{% endblock title %}
{% block workspace_settings_content %}
    <form class="flex flex-col gap-6"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {# TODO format errors #}
        {{ form.errors }}
        {% if workspace.picture %}
            <img alt="{% trans 'A picture used to identify this workspace' %}"
                 height="300"
                 width="300"
                 class="max-h-32 object-contain"
                 src="{{ workspace.picture.url }}" />
        {% else %}
            <p>{% trans "No picture uploaded" %}</p>
        {% endif %}
        {{ form.picture.as_field_group }}
        <div class="flex flex-col gap-6">
            {{ form.title.as_field_group }}
            {{ form.description.as_field_group }}
            {% include "projectify/forms/submit.html" with text=_("Save") %}
        </div>
    </form>
    <section class="flex flex-col gap-2">
        <h2 class="font-bold">{% trans "Workspace deletion" %}</h2>
        <p>
            {% trans "If you would like to delete this workspace, please send us an email using the link below. We have not implemented self-serve workspace deletion at this point, and would like to apologize for the inconvenience." %}
        </p>
        {% anchor href="mailto:hello@projectifyapp.com?subject=Workspace+deletion" label=_("Request workspace deletion (opens email client)") %}
    </section>
{% endblock workspace_settings_content %}
