{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# SPDX-FileCopyrightText: 2026 JWP Consulting GK #}
{% load i18n %}
{% load projectify %}
{% partialdef results %}
    <div id="prose-link-suggestions-results" class="flex flex-col">
        {% if results is None %}
        {% elif results %}
            {% for result in results %}
                <button type="button"
                        class="text-left w-full px-2 py-1.5 hover:bg-secondary-hover active:bg-secondary-pressed truncate"
                        data-url="{{ result.1 }}"
                        data-title="{{ result.0 }}">
                    {% if search_type == "task" %}
                        {% icon "circle" size=4 inline=True %}
                    {% elif search_type == "project" %}
                        {% icon "folder" size=4 inline=True %}
                    {% else %}
                    {% endif %}
                    {{ result.0 }}
                </button>
            {% endfor %}
        {% else %}
            {% if search_type == "task" %}
                <p>{% translate "No tasks found" %}</p>
            {% elif search_type == "project" %}
                <p>{% translate "No projects found" %}</p>
            {% else %}
                <p>{% translate "No tasks or projects found" %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endpartialdef results %}
<div class="flex gap-2 justify-between">
    <h1 class="font-bold text-xl">
        {% if search_type == "task" %}
            {% translate "Link to task" %}
        {% elif search_type == "project" %}
            {% translate "Link to project" %}
        {% else %}
            {% translate "Link to task or project" %}
        {% endif %}
    </h1>
    {% circle_button label=_("Close") name="close" icon_style="x" type="button" %}
</div>
<form method="dialog"
      class="flex flex-col gap-2"
      hx-post="{{ suggest_links_url }}"
      hx-target="#prose-link-suggestions-results"
      hx-swap="innerHtml"
      hx-trigger="input delay:500ms from:find input[type=search]">
    {% csrf_token %}
    {{ form.search.as_field_group }}
    <div class="flex flex-row justify-between items-center gap-2">{% action_button text=_("Search") %}</div>
</form>
{% partial results %}
