{# SPDX-FileCopyrightText: 2025 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "workspace/workspace_settings_base.html" %}
{% load i18n %}
{% load projectify %}
{% block title %}
    {% blocktrans with workspace_title=workspace.title %}{{ workspace_title }} quota - Projectify{% endblocktrans %}
{% endblock title %}
{% block workspace_settings_content %}
    <section class="flex flex-col gap-2">
        <h1 class="text-xl font-bold" id="workspace-quotas-title">{% translate "Workspace quotas" %}</h1>
        <p>
            <strong>{% trans "Workspace status:" %}</strong>
            {% if workspace.quota.workspace_status == "full" %}
                {% trans "Full workspace" %}
            {% elif workspace.quota.workspace_status == "trial" %}
                {% trans "Trial workspace" %}
            {% elif workspace.quota.workspace_status == "inactive" %}
                {% trans "Inactive workspace" %}
            {% endif %}
        </p>
        <p>
            {% blocktrans with title=workspace.title %}These are the quotas for the '{{ title }}' workspace:{% endblocktrans %}
        </p>
        <table aria-labelledby="workspace-quotas-title">
            <thead>
                <tr>
                    <th class="text-left">{% trans "Resource" %}</th>
                    <th class="text-right">{% trans "Current" %}</th>
                    <th class="text-right">{% trans "Limit" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for quota_row in quota_rows %}
                    <tr>
                        <td>{{ quota_row.label }}</td>
                        <td class="text-right">{{ quota_row.quota.current|default_if_none:_("n/a") }}</td>
                        <td class="text-right">{{ quota_row.quota.limit|default_if_none:_("Unlimited") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="flex flex-col gap-2">
        <h2 class="font-bold">{% trans "Learn more about workspace quotas" %}</h2>
        <ul class="list-inside list-disc">
            <li>{% anchor href="/help/quota#paid" label=_("Quotas for paid workspaces") external=True %}</li>
            <li>{% anchor href="/help/quota#trial" label=_("Quotas for trial workspaces") external=True %}</li>
        </ul>
    </section>
{% endblock workspace_settings_content %}
