# SPDX-License-Identifier: AGPL-3.0-or-later
#
# SPDX-FileCopyrightText: 2026 JWP Consulting GK

{{ hostname }} {
	# Serve static files directly
	handle_path /static/django/* {
		root * {{ static_root }}
		# TODO precompress static
		file_server
		header Cache-Control max-age=31536000
	}
	# Media files TODO
		# handle /media/* {
	# }
	# Reverse proxy to Django/gunicorn via Unix socket
	reverse_proxy unix//run/gunicorn.sock {
		# TODO add forwarded for headers
		health_uri /healthz
		health_headers {
			Host {{ hostname }}
		}

		@sendfile header X-Sendfile *
		handle_response @sendfile {
			root * {{ media_root }}
			rewrite {rp.header.X-Sendfile}
			method GET
			file_server
		}
	}
	# TODO Enable compression, but only for static files
	log
}

projectifyapp.com {
	redir https://{{ hostname }}{uri}
}
