# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2009-2026 (c) Benoît Chesneau <benoitc@gunicorn.org>
# SPDX-FileCopyrightText: 2009-2015 (c) Paul J. Davis <paul.joseph.davis@gmail.com>

[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
NotifyAccess=main
User=projectify
Group=projectify
SupplementaryGroups=caddy
WorkingDirectory={{ app_root }}
ExecStart={{ venv_path }}/bin/python -m gunicorn --config {{ gunicorn_config_file }}
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

# TODO add hardening
# Should not change files in /usr/share/projectify
# OK to access {{ media_root }}
# Acceptable network stuff:
# - access unix socket (psql)
# - access/create unix socket (for caddy rev proxy)
# - make TCP requests to the outside world

[Install]
WantedBy=multi-user.target
