# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2009-2026 (c) Benoît Chesneau <benoitc@gunicorn.org>
# SPDX-FileCopyrightText: 2009-2015 (c) Paul J. Davis <paul.joseph.davis@gmail.com>

[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
NotifyAccess=main
User=projectify
Group=projectify
WorkingDirectory=/var/lib/projectify/app
Environment="SOCKET=/run/gunicorn.sock"
Environment="DJANGO_SETTINGS_MODULE=projectify.settings.production"
Environment="DJANGO_CONFIGURATION=Production"
Environment="DATABASE_URL=postgres://%%2Frun%%2Fpostgresql/projectify"
Environment="ALLOWED_HOSTS=www.projectifyapp.com"
Environment="STATIC_ROOT={{ static_root }}"
# TODO use LoadCredential for secrets
EnvironmentFile=/var/lib/projectify/configuration.env
# TODO add collectstatic, etc. see from render.yaml:
# startCommand: 'python -m gunicorn --config gunicorn.conf.py --log-config gunicorn-error.log --access-logfile -'
# TODO configure logs
ExecStart=/var/lib/projectify/venv/bin/gunicorn
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
