# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2026 JWP Consulting GK

[Unit]
Description=pgBackRest full backup timer
Requires=pgbackrest-full.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
