# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2026 JWP Consulting GK

[Unit]
Description=Projectify user uploaded media backup
After=network.target

[Service]
Type=oneshot
User=projectify
Group=projectify
ExecStart=/usr/bin/rsync -av --delete {{ media_root }}/ {{ media_backup_dest }}/

[Install]
WantedBy=multi-user.target
