# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-FileCopyrightText: 2026 JWP Consulting GK
# Shared environment variables for Projectify systemd service units
# Note: This .env file does not contain application secrets like
# secret keys, API keys, or passwords. For this, use the credentials
# file mechanism. See `docs/django-configuration.md` under Credentials
# to learn how to set credentials using a credentials TOML file.
# See
# EnvironmentFile=
# https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html#EnvironmentFile=
DJANGO_SETTINGS_MODULE=projectify.settings.hetzner
DJANGO_CONFIGURATION=Hetzner
# TODO hard-code in Hetzner class
DATABASE_URL={{ database_url }}
STATIC_ROOT={{ static_root }}
MEDIA_ROOT={{ media_root }}
ALLOWED_HOST={{ hostname }}
# TODO use LoadCredential in systemd for secrets
CREDENTIALS_FILE={{ credentials_file }}
