/*! SPDX-License-Identifier: AGPL-3.0-or-later
    SPDX-FileCopyrightText: 2023 JWP Consulting GK */
@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator {
    opacity: 0;
    visibility: hidden;
}
.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms ease-in;
}
