{# SPDX-FileCopyrightText: 2025-2026 JWP Consulting GK #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "user_base.html" %}
{% load i18n %}
{% block user_header %}
    {% include "common/navigation/header/dashboard.html" %}
{% endblock user_header %}
{% block user_title %}
    <h1 class="text-2xl font-bold">{% trans "User account settings" %}</h1>
{% endblock user_title %}
{% block user_content %}
    <div class="flex flex-col gap-12 rounded-lg bg-foreground p-4">
        {% block user_profile_content %}
        {% endblock user_profile_content %}
    </div>
{% endblock user_content %}
