@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#svelte {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bg-debug {
    background-color: rgba(#f00, 0.2);
}

@layer components {
    .link {
        text-decoration: none;
    }

    .btn {
        @apply rounded-full px-8;
    }

    .page {
        @apply flex bg-blue-3 p-1 grow flex-col;
    }

    .page-center {
        @apply justify-center items-center;
    }

    .card {
        @apply bg-base-100 rounded-lg;
    }

    .card-title {
        @apply text-4xl;
    }

    .form-control {
        @apply py-1;
    }
}
