@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    @apply bg-base-100 text-base-content;
    scroll-behavior: smooth;
}

#svelte {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100vw;
}

.bg-debug {
    background-color: rgba(#f00, 0.2) !important;
}

@layer components {
    .link {
        text-decoration: none;
    }

    .btn-round {
        @apply rounded-full px-8;
    }

    .page {
        @apply flex grow flex-col bg-base-200;
    }

    .page-center {
        @apply items-center justify-center;
    }

    .card {
        @apply rounded-lg bg-base-100;
    }

    .card-title {
        @apply text-4xl;
    }

    .form-control {
        @apply py-1;
    }

    .label-text {
        @apply text-xs font-bold;
    }

    .btn {
        > svg {
            @apply h-6 w-6;
        }

        > * {
            &:first-child {
                @apply mr-1;
            }
            &:last-child {
                @apply m-0;
            }
        }

        &:active:hover {
            transform: scale(1);
            opacity: 0.5;
        }
    }
    .btn-xs {
        > svg {
            @apply h-5 w-5;
        }
    }

    .btn-sm {
        > svg {
            @apply h-4 w-4;
        }
    }

    .icon-sm {
        > svg {
            @apply h-4 w-4;
        }
    }

    .nowrap-ellipsis {
        @apply overflow-hidden text-ellipsis whitespace-nowrap;
    }

    .btn-ghost:hover {
        @apply bg-secondary;
    }

    .btn-ghost[disabled] {
        @apply pointer-events-auto cursor-default bg-opacity-0;
    }

    .dropdown > .dropdown-content {
        @apply translate-y-2;
    }

    .menu li > :where(a) {
        @apply px-4;
    }

    .menu li > :where(a:hover) {
        @apply bg-secondary;
        @apply text-secondary-content;
    }
    .menu li > * > svg {
        @apply h-4 w-4;
    }
    .menu .menu-item-active {
        @apply bg-primary text-base-content;
    }

    .menu ul {
        @apply pl-0;
        li > a {
            @apply pl-6;
            @apply bg-secondary-focus;
            @apply bg-opacity-10;
            &:hover {
                @apply bg-opacity-75;
            }
        }
    }

    .label {
        --opacity: 1;
        --bg-opacity: calc(var(--opacity) * 0.1);
        color: rgba(var(--color) / var(--opacity));
        background-color: rgba(var(--color) / var(--bg-opacity));
    }
    .label-dot {
        --opacity: 1;
        --color: 255 255 255;
        background-color: rgba(var(--color) / var(--opacity));
    }
    .btn-action {
        @apply btn-primary;
        @apply border-none bg-gradient-to-l from-accent to-primary-focus;
        @apply rounded-full px-8;
    }

    .btn-float {
        @apply border-primary border-opacity-30 bg-primary-content text-primary;

        &:active,
        &:focus,
        &:hover {
            @apply bg-primary bg-opacity-30;
        }
    }

    .icon-sm {
        > svg {
            @apply h-4 w-4;
            stroke-width: 1px;
        }
    }
}

::-webkit-progress-value {
    transition: width 1s;
}
