@import "@fontsource/roboto/400";
@import "@fontsource/roboto/700";

@import "../node_modules/pikaday/css/pikaday.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

#svelte {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100vw;
}
